<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>Shane F.</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                  assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Shane F.</h1>
      <div id="headerdiv" class="grid-container">
        <img src="assets/imgs/athletes/team-isa/shane-f-01.jpg" alt="" />
        <section class="stats">
          <div>
            <span class="field">Age:</span>
            <span class="value">38</span>
          </div>
          <div>
            <span class="field">Location:</span>
            <span class="value">Fairview, Texas</span>
          </div>
          <div>
            <span class="field">Height:</span>
            <span class="value">5'10"</span>
          </div>
          <div>
            <span class="field">Was:</span>
            <span class="value">203 lbs, 12% body fat</span>
          </div>
          <div>
            <span class="field">Lost:</span>
            <span class="value">24 lbs, 9% body fat*</span>
          </div>
        </section>
        <img src="assets/imgs/athletes/team-isa/shane-f-02.jpg" alt="" />
      </div>
      <section id="mainContent">
        <div>
          <h3>
            Professional Athlete and Trainer Tackles Nutrition and Fitness
          </h3>
          <p>
            Shane is a former collegiate linebacker and special teams coach for a private school and is now a 20-year fitness industry
            veteran with a successful training career where he helps anyone from NFL to Olympic athletes such as Wallace
            Spearmon Jr. get fit and healthy.
          </p>
          <p>
            The same energy, passion, athleticism and competitive spirit he loves about football is also what he brings to his clients
            while guiding them toward a total body and lifestyle transformation. The keys to the transformation include fitness
            training, a balanced diet and nutrition with Isagenix®.
          </p>
          <h3>
            First Steps to Success
          </h3>
          <p>
            At first, Shane was skeptical about nutritional supplements and believed in whole foods as a sole source for a proper diet.
            It wasn’t until he tried the product himself that he realized there was an opportunity to give himself and his
            four children an even better life of balanced nutrition.
          </p>
          <p>
            In October 2006, Shane started his Isagenix system and lost 12 pounds. His clients noticed his leaner look and increased
            energy and asked him what he had been doing. That kicked off his venture into the business side of Isagenix.
          </p>
          <p>
            "What I like about Isagenix is that we reduce our caloric intake and increase our nutrient intake. I see kids and athletes
            eating too many of the wrong foods and too many calories because they think that’s what it takes to make them
            bigger, faster and stronger," explains Shane. "Isagenix helps them put their bodies back into a balanced state
            so they can function at the highest and most efficient level, lose pounds and keep lean muscle because of the
            advanced source of protein and amino acids."
          </p>
          <p>
            Shane’s days usually start at 4 a.m. and end at 11 p.m. He’s a single dad who raises four amazing children while running
            his businesses, consisting of personal training and his business with Isagenix.
          </p>
          <p>
            "I love doing this every day and it provides me an opportunity to spend more time with my family on vacations and helping
            others," says Shane.
          </p>
          <p>
            He recommends Isagenix to his clients and has seen amazing results with their weight loss, energy and endurance. Those clients
            include former Dallas Cowboys fullback and FOX broadcaster, Daryl Johnston, who led him to sharing Isagenix with
            Dallas Cowboys safety, Roy Williams. Shane has also shared Isagenix with other athletes and NFL, NBA, MLB and
            NCAA players and coaches. He has even coached seven of the Miami Dolphins and six Dallas Cowboys players on their
            Isagenix journeys. Shane is a Crystal Executive who is continuing to build his business and share the benefits
            of Isagenix with his clients.
          </p>
          <p>
            "Isagenix beats all of the other supplements I have seen out there because it’s natural and the delivery system is the best
            in the industry," explains Shane. "I have never seen a company that touches on all aspects of total health and
            wellness with cleansing and restoration."
          </p>
          <h3>
            The National Stage
          </h3>
          <p>
            Shane recently finished a five-month training regimen to compete at an all-natural bodybuilding competition and took first
            overall. The win was a personal achievement but also a big boost for his business.
          </p>
          <p>
            "It’s generated a lot of new business," explains Shane. "It’s got a lot of new people looking at Isagenix and what it offers."
          </p>
          <p>
            In 2014, Shane will compete at the NPC National Bodybuilding Championship in July and Mr. Natural Olympia in November – all
            with the same Isagenix products that have helped him with his extreme success.
          </p>
        </div>
        <aside>
          <h3>Shane's Favorite Products</h3>
          <ul>
            <li>IsaLean® Pro</li>
            <li>IsaPro®</li>
            <li>Cleanse for Life®</li>
            <li>Ionix® Supreme</li>
            <li>Ageless Essentials™ Daily Pack for Men</li>
          </ul>
        </aside>
        <div>
          <p class="disclaimer">The individuals pictured are actual Isagenix Associates and not paid models.</p>
          <p class="disclaimer">
            * Weight loss should not be considered typical. In a study performed in 2012 by University of Illinois at Chicago researchers,
            subjects lost an average of 9 pounds with an average of 2 pounds of the loss from visceral fat after 30 days
            on an Isagenix system. The subjects also had a greater level of adherence and had more consistent weight loss
            from week to week compared to subjects on a traditional diet.
          </p>
          <p class="disclaimer">
            ** Earning levels for Isagenix Independent Associates that appear in this publication are examples and should not be construed
            as typical or average. Income level achievements are dependent upon the individual Associate’s business skills,
            personal ambition, time, commitment, activity, and demographic factors. For average earnings, see the Isagenix
            Independent Associate Earnings Statement found at IsagenixEarnings.com.
          </p>
          <p class="disclaimer">
            Isagenix Millionaires are defined as Isagenix Associates who have cumulatively earned $1 million or more with Isagenix.
          </p>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
