<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-th-large fixed-width space-right"></i>
      <span>Product B</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw" srcset="
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-400.jpg 400w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-847.jpg 847w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1168.jpg 1168w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">IsaGenesis (Product B)</h1>
      <div id="topContainer" class="grid-container">
        <section>
          <img src="assets/imgs/products/product-b-lg.jpg" alt="IsaGenesis (Product B)" />
        </section>
        <section>
          <p>
            IsaGenesis (Product B) is a powerful blend of complex botanicals and vitamins uniquely designed to offer superior telomere
            support for youthful aging. For optimal telomere benefits, take as part of your daily Isagenix nutritional system.
          </p>
          <h3>The New and Improved IsaGenesis (Product B)</h3>
          <p>The latest formulation of Product B is so improved, we gave it a new name – IsaGenesis – and it’s scientifically
            designed to deliver the benefits of Product B you know and love from the previous version in a more powerful,
            effective way. IsaGenesis (Product B) features improved absorbability so that your body can effectively use the
            nutrients for superior antioxidant and telomere support in cells where they’re needed.</p>
          <ul>
            <li>Improved absorption for better delivery to cells</li>
            <li>More active ingredients than ever before</li>
            <li>Assists with youthful cell function and healthy telomeres</li>
            <li>Helps neutralize harmful free radicals that can accelerate aging</li>
            <li>Improves efficiency of natural enzymes increasing antioxidant support</li>
          </ul>
        </section>
      </div>
      <div id="bottomContainer" class="grid-container">
        <section>
          <h3>Videos</h3>
          <ul class="list-unstyled">
            <li (click)="openVideoModal('telomeres')">
              <span class="video-li">Telomeres and Aging</span>
            </li>
            <li (click)="openVideoModal('aging-you')">
              <span class="video-li">What's Aging You</span>
            </li>
          </ul>
        </section>
        <section>
          <h3>Product Info</h3>
          <ul class="list-unstyled">
            <li>
              <span class="pdf" (click)="pdfProvider.openPdf('Isagenesis (Product B) Information Sheet', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fproduct-b-information-sheet.pdf?alt=media&token=45bb9d18-6d50-4c70-9c91-dcbb941d3e18')">Isagenesis (Product B) Information Sheet</span>
            </li>
          </ul>
        </section>
        <section>
          <h3>Ingredients</h3>
          <ul class="list-unstyled">
            <li>
              <span class="pdf" (click)="pdfProvider.openPdf('IsaGenesis (Product B)', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fproduct-b-isagenesis.pdf?alt=media&token=6471ed2d-d8b2-42bb-81c3-f5e20e7a2430')">IsaGenesis (Product B)</span>
            </li>
          </ul>
        </section>
        <section>
          <h3>Testimonials</h3>
          <p>
            <span class="testimonial">“I began taking IsaGenesis (Product B) in September 2010. The changes are both visible and invisible, but the biggest change
              is that I’ve lost all semblance of my age. If it weren’t for my driver’s license, I’d feel like I was 25. I
              have more energy, and every day I feel more and more alive. I went skiing with Associate Kirk M. and didn’t
              feel sore afterward.”</span>
            – Peter G
          </p>
          <p>
            <span class="testimonial">“After adding IsaGenesis (Product B) to my regimen of using the Isagenix Pillars of Health [Cleanse for Life®, IsaLean® Shake,
              Ionix® Supreme and Ageless Essentials™ Daily Pack] friends have commented on how good I look! I feel I have
              increased energy and more stamina, too. I’m amazed at what I have noticed in such a short period of time. I
              love it!”</span> – Deborah K. Niagra Falls, New York
          </p>
          <p>
            <span class="testimonial">“I’ve been working with Isagenix Founder and Master Formulator John Anderson for nearly a year to help identify
              natural, non-drug substances that can help provide incremental support to our telomeres. IsaGenesis (Product B) and the
              Isagenix Pillars of Health are the breakthrough support we’ve been looking for. ”</span> – Dr. William Andrews,
            Reno, Nevada
          </p>
          <p>
            <span class="testimonial">“My energy went through the roof. I recently went on a trip to Europe, and I didn’t feel sluggish with the time
              change. Every day keeps getting better and better.”</span> – Susan Sly
          </p>
          <p>
            <span class="testimonial">“I’ve always been energetic, but with IsaGenesis (Product B) I’m running faster and further. I’m so fired up about this product!”</span>
            – Patty C
          </p>
        </section>
        <section>
          <h3>FAQ's</h3>
          <h4>What are the benefits of IsaGenesis (Product B)?</h4>
          <p>
            IsaGenesis (Product B) goes beyond the symptoms of aging to target the ultimate sources of aging. IsaGenesis (Product B), especially
            when combined with Isagenix systems, is uniquely designed to offer what Isagenix believes to be the best telomere
            support on the market, resulting in powerful healthy-aging benefits such as youthful vitality and energy, vital
            organ support, healthy immune system support, and more. *
          </p>
          <h4>Who should use IsaGenesis (Product B)?</h4>
          <p>
            IsaGenesis (Product B) is ideal for anyone who wants to maintain their youthful energy and vitality. IsaGenesis (Product B) uses
            scientifically sound ingredients, and is ideal for adults who want to gain the powerful, healthy-aging benefits
            that have been shown to come with healthy telomeres. IsaGenesis (Product B) contains no animal by-products, making it safe
            for vegetarians and vegans to use. Due to the powerful ingredients, do not consume IsaGenesis (Product B) if you are
            pregnant or nursing. *
          </p>
          <h4>How do I use IsaGenesis (Product B)?</h4>
          <p>
            One serving of IsaGenesis (Product B) consists of two softgels. Adults 18+ using IsaGenesis (Product B) should take two servings daily;
            once in the morning with breakfast, and once at lunch or in the evening with dinner, depending on personal
            preference.
          </p>
        </section>
      </div>
    </article>
  </main>
</ion-content>
