<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-archive fixed-width space-right"></i>
      <span>Best</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw" srcset="
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-400.jpg 400w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-847.jpg 847w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1168.jpg 1168w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">Ultimate Pak</h1>
      <div id="topContainer" class="grid-container">
        <section>
          <img src="assets/imgs/products/ultimate-pak-lg.jpg" alt="Ultimate Pak" />
        </section>
        <section>
          <p>Now includes the new and improved IsaBlender® Max!</p>
          <p>It doesn’t get more ultimate than this! This plentiful pak has everything you need to get a jump-start on your
            results. You’ll have enough products from each of our pillars to start your transformation and share with others.</p>
        </section>
      </div>
      <div id="bottomContainer" class="grid-container">
        <section>
          <h3>Values and Benefits</h3>
          <h4>Healthy Lifestyle</h4>
          <p>The Ultimate Pak contains all of Isagenix most popular products to help you kick-start your new healthy lifestyle.
            Replace one or two meals per day with the delicious, filling IsaLean Shakes, use an IsaDelight® and the Isagenix
            Snacks™ on your Cleanse Days, and make sure to carry some Whey Thins when you're on the go for a healthy snack.</p>
          <h4>High-Quality Protein</h4>
          <p>The Ultimate Pak contains the popular IsaLean® Shake, a balanced 240-calorie, meal replacement clinically shown
            to support healthy weight loss and lean muscle growth. IsaLean Shake contains 24 grams of protein and 23 vitamins
            and minerals per shake to fuel your body with balanced nutrition.</p>
          <h4>Cleanse and Nourish</h4>
          <p>This pak includes Cleanse for Life®, to nourish the body’s natural detoxification systems. With no artificial colors
            or flavors, this blend of natural cleansing herbs and botanicals nourishes your body to help boost metabolism
            and energy levels. *</p>
        </section>
        <section>
          <h3>Product List</h3>
          <ol>
            <li>1 Whey Thins</li>
            <li>2 Coffee</li>
            <li>1 IsaPro</li>
            <li>2 Isalean PRO</li>
            <li>4 IsaLean Shakes</li>
            <li>2 Cleanse for Life</li>
            <li>2 Ionix Supreme</li>
            <li>1 Cleanse Support Bundle - Accelerator, IsaFlush, and Snacks, 2 IsaLean Bars, 1 IsaDelight</li>
            <li>1 Complete Essentials Daily Pack</li>
            <li>1 Complete Essentials with IsaGenesis</li>
            <li>4 IsaShaker™ - 16 oz</li>
            <li>1 IsaGenesis® - 120 softgels ( 60 servings)</li>
            <li>1 Flyer: Business Builder Pak</li>
            <li>1 IsaBlender® Max</li>
            <li>1 Ageless Joint Support™ - 90 tablets and Ageless Pain Relief™ - 2 oz tube</li>
            <li>1 Brain and Sleep Support System</li>
            <li>1 e+ Natural Balanced Energy Shot + Adaptogens - Apple Pomegranate Flavor - 12 x 2 oz bottles</li>
            <li>1 Rejuvity® Sampler- 10 count</li>
            <li>1 Event Coupon $100</li>
            <li>1 Isagenix Greens!™ - canister - 30 servings</li>
            <li>1 System Guide - Weight Management 1ct</li>
            <li>1 IsaBody® Look Book</li>
            <li>1 Ultimate Pak Product Information Tool</li>
          </ol>
        </section>
        <section>
          <h3>Testimonials</h3>
          <p>
            <span class="testimonial">“An entire 30 days of your food is covered with the Ultimate Pak, along with treats, samples, a blender, and
              the potential to create a lucrative extra stream of income. Share the Ultimate Pak with your new enrollees
              today and get on the fast-track to explosive business success! We just retired from our previous, 9-to-5 professional
              careers and we owe it in part to the Ultimate Pak.”</span> – Pam B
          </p>
          <p>
            <span class="testimonial">“It’s a ‘Business in a Box.’ Included with the 30-Day Cleansing and Fat Burning System, IsaLean® Bars, IsaDelight
              Plus™, Want More Energy?® Sticks, SlimCakes® and IsaBlender® are three, 5-Piece Sample Paks you can share!
              Since these ‘shareable’ paks help you build your business, they could be considered a tax write-off (just be
              sure to double-check with your tax consultant).”</span> – Ted B.
          </p>
          <p>
            <span class="testimonial">“The Ultimate Pak includes products that help people stick around longer because they love them so much, your
              team members who join with a Ultimate Pak are more likely to commit to an Isagenix lifestyle and even consider
              creating a business, too. A person who enrolls with a Ultimate Pak is more likely to enroll others compared
              to those who join with just a 30-Day System.”</span> – Carolyne R.
          </p>
          <p class="disclaimer">* These statements have not been evaluated by the Food and Drug Administration. These products are not intended
              to diagnose, treat, cure, or prevent any disease.</p>
        </section>
      </div>
    </article>
  </main>
</ion-content>
