page-press-release-modal {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $default-margin;
    margin-bottom: $default-margin;
    max-width: 90vw;
  }

  h5 {
    margin-top: -$xsmall-margin;
    font-style: italic;
    font-size: smaller;
  }
}
