<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-exclamation fixed-width space-right"></i>
      <span>Kids - Problem</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/kids/kids-background/kids-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw" srcset="
              assets/imgs/kids/kids-background/kids-background-400.jpg 400w,
              assets/imgs/kids/kids-background/kids-background-847.jpg 847w,
              assets/imgs/kids/kids-background/kids-background-1166.jpg 1166w,
              assets/imgs/kids/kids-background/kids-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Kids' Health Challenges</h1>
      <img id="img01" src="assets/imgs/kids/isagenix-for-kids.jpg" alt="Isagenix for Kids" class="shadowed" />
      <p>
        Out of 85,000 registered chemicals in the U.S., the federal government has required less than 200 of these to be tested for
        human safety – While only five have been banned since 1990. Our babies and children are growing in a toxic environment.
        In addition, 80% of kids between the ages of 6 and 11 are not getting enough of the daily nutrients they need from
        vegetables, and nearly 75% don’t get enough fruit.
      </p>
      <p>
        It is our responsibility to enhance their health and improve their quality of life. Our kids need high-grade, organic nutrients
        and quality water to keep their immune systems strong. As their nutritional gatekeepers, it’s up to us to help them
        avoid obesity and other nutritionally-related health challenges by providing them with stealth nutrition.
      </p>
      <h3>What's Affecting Our Kids?</h3>
      <p>
        <span class="number">1.</span> About <strong>1/3 of kids in the U.S. are overweight or obese,</strong> according to the Centers of Disease Control and
        Prevention.
      </p>
      <p>
        <span class="number">2.</span> One <strong>12 oz. soda contains on average 10-12 teaspoons of sugar,</strong> more than three times the daily recommended
        limit for children.
      </p>
      <p>
        <span class="number">3.</span> Among children (2 to 19 year of age), <strong>23.9 million are overweight or obese and 12.7 million are obese.</strong>
      </p>
      <p>
        <span class="number">4.</span> According to National Institute of Allergy and Infectious Diseases, approximately <strong>1 in 20 kids has a food
        allergy,</strong> which is more common than in adults.
      </p>
      <p>
        <span class="number">5.</span> <strong>Over a year’s time, a child can pack on 6 extra pounds</strong> because of high fast-food consumption.
      </p>
      <img id="img02" src="assets/imgs/kids/obesity-in-kids.jpg" alt="Obesity in Kids" />
      <p>
        <span class="number">6.</span> 3494 meal combinations were analyzed across 34 restaurant chains. <strong>Of those, 97% do not meet the expert
        nutrition standards for children’s meals.</strong>
      </p>
      <p>
        <span class="number">7.</span> Compared to kids that did not eat fast-food, <strong>fast-food eaters ate an average of 187 more calories per day.</strong>
      </p>
      <p>
        <span class="number">8.</span> Processed food represents an entirely new way of eating for us as human beings. <strong>Our diets have changed
        more in the last 100 years than they have in the last 10,000.</strong>
      </p>
      <p>
        <span class="number">9.</span> The centers for Disease Control and Prevention now projects that in <strong>1 in 3 U.S. children will have diabetes
        in their lifetime</strong> (1 in 2 among African-American and Latina girls).
      </p>
      <p>
        <span class="number">10.</span> A study of 5,200 Canadian fifth-graders found that <strong>kids with healthy diets were up to 4% less likely to
        fail literacy tests than other children.</strong>
      </p>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
