<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>Lori H.</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                  assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Lori H.</h1>
      <div id="headerdiv" class="grid-container">
        <img src="assets/imgs/athletes/team-isa/lori-h-01.jpg" alt="" />
        <section class="stats">
          <div>
            <span class="field">Age:</span>
            <span class="value">32</span>
          </div>
          <div>
            <span class="field">Location:</span>
            <span class="value">Santa Monica, California</span>
          </div>
          <div>
            <span class="field">Rank:</span>
            <span class="value">9-Star Platinum, 5-Star Executive</span>
          </div>
          <div>
            <span class="field">Joined Isagenix:</span>
            <span class="value">April 2011</span>
          </div>
          <div>
            <span class="field">Avg. Annual Isagenix Income:</span>
            <span class="value">$1,000,000**</span>
          </div>
          <div>
            <span class="field">Isagenix Millionaire #91</span>
          </div>
        </section>
        <img src="assets/imgs/athletes/team-isa/lori-h-02.jpg" alt="" />
      </div>
      <section id="mainContent">
        <div>
          <h3>
            Fitness Model Turns Millionaire With Isagenix
          </h3>
          <p>
            At age 12, Lori Harder’s body was a far cry from her current award-winning Miss Fitness Universe physique.
          </p>
          <p>
            Teased by the kids at school because she was overweight, Lori turned to her older sister’s workout videos and eventually
            the gym to get healthy and fit. She begged her mother for fitness magazines and began devouring copies of Oxygen
            magazine in her free time. When her 20s hit, she got her nutrition on track and became a personal trainer and
            fitness competitor.
          </p>
          <p>
            She preached a "whole foods and clean nutrition" diet to her clients and lived on greens and chicken to prep for her competitions.
            But, when competition time was over, her cravings would kick in and her "cheats" would be out of control. Then,
            she met the soon-to-be 2010 IsaBody Challenge® Grand Prize Winner Holly D. Though Holly was just looking for
            a personal trainer to help her kick her fitness into high gear, she also mentioned that she used Isagenix® and
            encouraged Lori to try it, too. "I blocked her out for six months," laughs Lori. "We started working out together
            and after a month into it, she was literally kicking my butt with weights. She wasn’t even as sore as me."
          </p>
          <h3>From "Worst Show" to Miss Fitness Universe</h3>
          <p>
            Lori went to her fitness show soon after and had her worst performance yet. Sick of her "clean diet" and lackluster results,
            she began reading through the ingredients in Isagenix products and decided to take Holly up on her offer. "I
            went from my worst show to winning three shows in a row," shares Lori. "Nutritionally, everything just clicked.
            I don’t get the crazy cravings I used to and it’s all about balance." The 2010 Ms. Bikini Universe and Miss Figure
            America says she’s proud of her accomplishments and grateful to Isagenix for providing the missing link in her
            routine. It’s also helped her achieve another big dream: gracing the cover of her favorite fitness magazine from
            childhood, Oxygen. "I’m completely humbled and honored," says Lori. "Hopefully I can jump out at someone and
            help them in the way it helped me. When I was young, this is the furthest thing I would have ever thought for
            myself."
          </p>
          <h3>Million-Dollar Body to Millionaire</h3>
          <p>
            Since embracing Isagenix and the products, Lori has turned her health success into a viable, growing business that has not
            only freed her and her husband, Chris, from the 9-to-5, but helped them pursue even bigger dreams.
          </p>
          <p>
            Now the pair travels the world together sharing Isagenix, have earned more than $1 million in cumulative income with Isagenix,**
            and have even relocated to their dream home near the beach in Santa Monica, California.
          </p>
          <p>
            "When you ask yourself daily ‘what can I do for others’ and ‘why am I here,’ your life starts to change and unforeseen opportunities
            arise. Isagenix is changing lives because it answers both of these questions," explains Lori. "Purpose is the
            driver for happiness and sharing purpose with others gives even greater blessings. Isagenix has allowed us to
            help so many people fulfill their dreams and, that alone, is what real riches truly are. ‘Grateful’ is not a
            big enough word to describe how we feel. Our way of paying it forward is sharing this with as many people as
            possible because we believe everyone needs Isagenix!"
          </p>
        </div>
        <aside>
          <h3>Lori's Tips for Success</h3>
          <ul>
            <li>Have an unshakeable belief in yourself. Even when your body is screaming at you, "Who do you think you are?"–remind
              yourself that you can do whatever you want to be and do.</li>
            <li>Make time for daily self-improvement. Being confident in yourself and what you are saying helps get your message
              across. You can’t tell people with certainty that they need this product and you can’t help them if you don’t
              believe it yourself.</li>
            <li>Share the business. Mention the business opportunity 100 percent of the time to every sign-up. Most people need
              the business even more than they need the product. You can’t afford to be healthy if you’re broke and stressed
              out.</li>
            <li>Be consistent! All problems can be traced to inactivity and inconsistency. You need to constantly be going to
              the places and creating relationships with other like-minded, motivated people.</li>
          </ul>
        </aside>
        <div>
          <p class="disclaimer">The individuals pictured are actual Isagenix Associates and not paid models.</p>
          <p class="disclaimer">
            * Weight loss should not be considered typical. In a study performed in 2012 by University of Illinois at Chicago researchers,
            subjects lost an average of 9 pounds with an average of 2 pounds of the loss from visceral fat after 30 days
            on an Isagenix system. The subjects also had a greater level of adherence and had more consistent weight loss
            from week to week compared to subjects on a traditional diet.
          </p>
          <p class="disclaimer">
            ** Earning levels for Isagenix Independent Associates that appear in this publication are examples and should not be construed
            as typical or average. Income level achievements are dependent upon the individual Associate’s business skills,
            personal ambition, time, commitment, activity, and demographic factors. For average earnings, see the Isagenix
            Independent Associate Earnings Statement found at IsagenixEarnings.com.
          </p>
          <p class="disclaimer">
            Isagenix Millionaires are defined as Isagenix Associates who have cumulatively earned $1 million or more with Isagenix.
          </p>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
