<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>Tony M.</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                  assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Tony M.</h1>
      <div id="headerdiv" class="grid-container">
        <img src="assets/imgs/athletes/team-isa/tony-m-01.jpg" alt="" />
        <section class="stats">
          <div>
            <span class="field">Age:</span>
            <span class="value">47</span>
          </div>
          <div>
            <span class="field">Location:</span>
            <span class="value">Phoenix, Arizona</span>
          </div>
          <div>
            <span class="field">Rank:</span>
            <span class="value">2-Star Golden Circle, 1-Star Crystal Executive</span>
          </div>
          <div>
            <span class="field">Joined Isagenix:</span>
            <span class="value">January 2013</span>
          </div>
          <div>
            <span class="field">Avg. Monthly Isagenix Income:</span>
            <span class="value">$10,000 - $12,000**</span>
          </div>
        </section>
        <img src="assets/imgs/athletes/team-isa/tony-m-02.jpg" alt="" />
      </div>
      <section>
        <h3>
          Ex-NFL Player Shares His Passion for Health, Fitness and Photography
        </h3>
        <p>
          Tony shot to fame in 1989 as the first-round draft pick for the Green Bay Packers. He was touted as being one of Michigan
          State University’s best football players and his performance received numerous accolades. He weighed 308 pounds,
          could bench press 225 pounds 39 times and was nicknamed "The Incredible Bulk" by Sports Illustrated magazine.
        </p>
        <h3>
          Calling the Play
        </h3>
        <p>
          In 1999, Tony retired from professional football with a shoulder injury. He went on to marry his Michigan State University
          sweetheart, Char, and the two moved to Arizona in 2005. That’s where he met his now Isagenix® sponsor Jill B.,
          and started on a 30-Day Cleansing and Fat Burning System.
        </p>
        <p>
          "Initially I was skeptical about the products and opportunity, but now people always ask me what kind of supplements I take
          while I am at the gym," shares this father of four. "I tell them, Isagenix®."
        </p>
        <p>
          His passion for health and fitness made sharing the products a no-brainer. Little did he know he was inadvertently creating
          a fast-growing Isagenix business by sharing his love for the products at the gym.
        </p>
        <h3>
          A Man in Motion
        </h3>
        <p>
          After receiving $500* in residual income, Tony was persuaded to put more time aside each week to build his Isagenix business.
          He started by opening his own professional photography studio to share Isagenix with potential Associates and host
          regular opportunity meetings.
        </p>
        <p>
          "I tell my team that if they get involved and want success, I will demand a lot of them," explains Tony. "But, I will make
          sure they succeed."
        </p>
        <p>
          Today, this 2-Star Golden Circle and 1-Star Crystal Executive puts in the same level of commitment and holds himself accountable
          as a leader by staying knowledgeable about the products and business. He does so by tuning into weekly podcasts,
          attending Isagenix events and staying in touch with his team frequently.
        </p>
        <p>
          The money he earns from his Isagenix business allows him to continue pursuing his passion, photography.
        </p>
        <p>
          "Education and effort are the keys to success and I really enjoy sharing my story and teaching people about how to get healthier,"
          adds Tony. "The money is a bonus."
        </p>
        <p class="disclaimer">The individuals pictured are actual Isagenix Associates and not paid models.</p>
        <p class="disclaimer">
          * Weight loss should not be considered typical. In a study performed in 2012 by University of Illinois at Chicago researchers,
          subjects lost an average of 9 pounds with an average of 2 pounds of the loss from visceral fat after 30 days on
          an Isagenix system. The subjects also had a greater level of adherence and had more consistent weight loss from
          week to week compared to subjects on a traditional diet.
        </p>
        <p class="disclaimer">
          ** Earning levels for Isagenix Independent Associates that appear in this publication are examples and should not be construed
          as typical or average. Income level achievements are dependent upon the individual Associate’s business skills,
          personal ambition, time, commitment, activity, and demographic factors. For average earnings, see the Isagenix
          Independent Associate Earnings Statement found at IsagenixEarnings.com.
        </p>
        <p class="disclaimer">
          Isagenix Millionaires are defined as Isagenix Associates who have cumulatively earned $1 million or more with Isagenix.
        </p>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
