<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-flask fixed-width space-right"></i>
      <span>Science Behind Isa.</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/science/blue-science-background/blue-science-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
            assets/imgs/science/blue-science-background/blue-science-background-400.jpg 400w,
            assets/imgs/science/blue-science-background/blue-science-background-1076.jpg 1076w,
            assets/imgs/science/blue-science-background/blue-science-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article class="grid-container">
      <section>
        <h1>The Science Behind Isagenix</h1>
        <img id="smallBrochure" src="assets/imgs/science/small-brochure.jpg" alt="" />
        <div>
          <p>Cleansing is one of the many reasons that Isagenix systems are different from other "diets." In fact, "diet" is
            really the wrong word to use to describe Isagenix. We offer a collection of systems that can be customized to
            your own health goals and adopted as a lifestyle, meaning these are habits and tools you’ll have for the long
            haul. Cleansing is one of those habits within an Isagenix lifestyle.
          </p>
          <p>
            Isagenix has been leading the way to health by advocating the practice of cleansing for more than a decade. Now, recent scientific
            findings are leading nutritional researchers to believe that this practice of "cleansing"—a combination of
            intermittent fasting with herbs and vitamins that support detoxification—provides surprising health benefits.
          </p>
          <p>
            A body of evidence in both animals and humans has been steadily building to support cleansing in combination with herbal
            supplementation and calorie restriction as a foundation for weight control, appetite regulation, improved insulin
            sensitivity, brain health, cell and tissue maintenance, and detoxification.
          </p>
          <h3>
            Weight Control
          </h3>
          <p>
            One of the first things that people notice when they embark on Cleanse Days is the weight loss. Studies on intermittent fasting
            have shown that it is just as an effective approach for weight loss as compared to cutting calories (1). In one
            study, overweight women who fasted intermittently for six months lost more weight than women who restricted their
            calories each day (2).
          </p>
          <h3>
            Reset Food Cravings
          </h3>
          <p>
            It would seem that after a day of not eating, one would be more likely to gorge on food when it was re-introduced. Not so.
            Evidence suggests that when intermittent fasting becomes a habit, less food is commonly eaten during normal calorie
            days (3). Some theories imply that this could be due to shrinking of the stomach on fast days so that you are
            less likely to overindulge at meal time. Along the same concept, Isagenix cleansers proclaim that Cleanse Days
            practically erase any previous food cravings they used to have.
          </p>
          <h3>
            Reset Insulin Sensitivity
          </h3>
          <p>
            Insulin sensitivity—how well insulin does its job of ushering glucose in the blood (after eating food) into the appropriate
            body tissues where it is used for energy—also looks to be "reset" by fasting. One study showed that healthy
            men who fasted for 20 hours every other day for 15 days had increased rates of glucose uptake, signifying improved
            insulin sensitivity and better blood sugar control (4).
          </p>
          <h3>
            Brain Protection
          </h3>
          <p>
            Research on fasting’s effect on brain and mood has so far been done on animals, but the results are still promising. It appears
            that fasting stimulates the production of brain-derived neurotrophic factor (BDNF), which increases the resistance
            of brain neurons to degeneration and preserves learning and memory (5). Fasting has also shown to be beneficial
            in the brain for stimulating growth of new brain neurons, called neurogenesis (6). When levels of BDNF increase,
            so do levels of serotonin, otherwise known as the "feel good" neurotransmitter (7). This could help explain
            why one study among aging men found that after two-day fasts, their moods and perceptions of quality of life
            were improved (8).
          </p>
          <h3>
            Time for the Body to go to Work–On Itself
          </h3>
          <p>
            One of the most important defense mechanisms the body has to guard itself against aging is a process called autophagy (8).
            Autophagy can be thought of as the body doing its own internal "housekeeping" so that all organ systems and
            processes continue to run smoothly. Old, damaged cell components are repaired or discarded so that cells can
            continue to function optimally. Autophagy in the body decreases as we age, so the body’s ability to self-help
            itself is reduced as well. Calorie restriction, including fasting, has been found to promote autophagy to mend
            the body’s cells (9). It’s as if the consumption of fewer calories allows the body to rest and to go into recovery
            mode. This has been proposed to be the reason why calorie restriction and fasting have an "anti-aging" effect.
          </p>
          <h3>
            Detoxification
          </h3>
          <p>
            Lastly, there is the detoxification that can take place on Cleanse Days. Often misunderstood, improved detoxification (or
            the increased efficiency of phase 1, 2, and 3 enzyme systems) while on Cleanse Days may be one of the most fascinating
            parts of the scientific story behind Cleanse Days. Nutritional support in the form of antioxidant vitamins and
            botanicals is essential in the detoxification process because some toxins are produced as the result of free
            radical activity. Additionally, nutritional support is needed to counteract the oxidative damage caused by toxins.
          </p>
          <p>
            Isagenix Cleanse Days do more than just help you lose weight. As science has shown, cleansing benefits aspects of the entire
            body, helping it to reset, and restore. By including Isagenix Cleanse Days in your lifestyle, you are committing
            to living healthier and for longer.
          </p>
          <h3>
            References
          </h3>
          <ol>
            <li class="disclaimer">Eshghinia S, Mohammadzadeh F. The effects of modified alternate-day fasting diet on weight loss and CAD risk
              factors in overweight and obese women. J Diabetes Metab Disord 2013;12:4.</li>

            <li class="disclaimer">Harvie MN, Pegington M, Mattson MP et al. The effects of intermittent or continuous energy restriction on weight
              loss and metabolic disease risk markers: a randomized trial in young overweight women. Int J Obes (Lond) 2011;35:714-27.</li>

            <li class="disclaimer">Varady KA, Hellerstein MK. Alternate-day fasting and chronic disease prevention: a review of human and animal
              trials. Am J Clin Nutr 2007;86:7-13.</li>

            <li class="disclaimer">Halberg N, Henriksen M, Soderhamn N et al. Effect of intermittent fasting and refeeding on insulin action in
              healthy men. J Appl Physiol 2005;99:2128-36.</li>

            <li class="disclaimer">Mattson MP. Energy intake, meal frequency, and health: a neurobiological perspective. Annu Rev Nutr 2005;25:237-60.</li>

            <li class="disclaimer">Mattson MP, Wan R. Beneficial effects of intermittent fasting and caloric restriction on the cardiovascular and
              cerebrovascular systems. J Nutr Biochem 2005;16:129-37.</li>

            <li class="disclaimer">Martinowich K, Lu B. Interaction between BDNF and serotonin: role in mood disorders. Neuropsychopharmacology
              2008;33:73-83.</li>

            <li class="disclaimer">Teng NI, Shahar S, Manaf ZA, Das SK, Taha CS, Ngah WZ. Efficacy of fasting calorie restriction on quality of
              life among aging men. Physiol Behav 2011;104:1059-64.</li>

            <li class="disclaimer">Bergamini E, Cavallini G, Donati A, Gori Z. The role of autophagy in aging: its essential part in the anti-aging
              mechanism of caloric restriction. Ann N Y Acad Sci 2007;1114:69-78.</li>
          </ol>
        </div>
      </section>
      <section>
        <ul>
          <li (click)="loadPage('SciencePage')">Science</li>
          <li (click)="loadPage('ResearchAndSciencePage')">Research and Science</li>
          <li (click)="loadPage('ScientificAdvisoryBoardPage')">Scientific Advisory Board</li>
          <li (click)="loadPage('QualityAssurancePage')">Quality Assurance</li>
          <li class="selected">Science Behind Isagenix</li>
        </ul>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
