<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-asterisk fixed-width space-right"></i>
      <span>Whey</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/science/blue-science-background/blue-science-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
            assets/imgs/science/blue-science-background/blue-science-background-400.jpg 400w,
            assets/imgs/science/blue-science-background/blue-science-background-1076.jpg 1076w,
            assets/imgs/science/blue-science-background/blue-science-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
        <h1 class="centered uppercase">Cleansing</h1>
        <p id="tapH5" class="note centered">(Tap a headline or image to view full document.)</p>
        <p id="clickH5" class="note centered">(Click a headline or image to view full document.)</p>
        <section id="firstSection">
          <h2 class="centered" (click)="loadPage('WhyCleanseForLifePage')">Why You Should Cleanse for Life</h2>
          <div class="grid-container">
            <figure>
              <img src="assets/imgs/science/green-yoga-girl.jpg" alt="" (click)="loadPage('WhyCleanseForLifePage')" />
              <figcaption>Long-term protection
                <br /> from toxins can be
                <br />achieved by living a
                <br />nutritional cleansing
                <br />lifestyle.</figcaption>
            </figure>
            <div>
              <p>
                Every day we’re continually exposed to toxins in the food we eat, the air we breathe, the water we drink, and the items we
                touch. Learning more about these potentially harmful chemicals can be critical for making decisions to protect
                long-term health. As with any subject, toxins are best understood through a little history.
              </p>
              <p>
                Toxins—or xenobiotics—have always been part of the natural environment. Many of them are made by plants, bacteria, and animals
                as defenses to keep predators at bay. The greater the abundance of toxins in a species, the more likely they
                will survive. This natural arms race has produced millions of different kinds of toxins including venoms and
                poisons.
              </p>
            </div>
          </div>
        </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
