<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-asterisk fixed-width space-right"></i>
      <span>Whey</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/science/blue-science-background/blue-science-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
            assets/imgs/science/blue-science-background/blue-science-background-400.jpg 400w,
            assets/imgs/science/blue-science-background/blue-science-background-1076.jpg 1076w,
            assets/imgs/science/blue-science-background/blue-science-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Whey</h1>
      <p id="tapH5" class="note centered">(Tap a headline or image to view full document.)</p>
      <p id="clickH5" class="note centered">(Click a headline or image to view full document.)</p>
      <section id="firstSection">
        <h2 class="centered" (click)="loadPage('WheyMythPage')">Myth: Whey Protein is Only for Bodybuilders and Athletes</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/whey-protein.jpg" alt="" (click)="loadPage('WheyMythPage')" class="shadowed" />
          </figure>
          <div>
            <p>
              Bodybuilders and athletes prefer whey protein in Isagenix IsaPro over any other kind of protein for great reasons:
            </p>
            <p>
              Scientific studies show that taking whey protein after workouts can boost muscle growth more than other types of protein.
              That’s because whey is quickly digested and absorbed and has a superior amino acid profile rich in the branched-chain
              amino acids. But what about people who aren’t working out all the time in the gym?
            </p>
            <p>
              Well, studies also show extra whey protein can help satisfy appetite and provide an extra boost for metabolism for losing
              stubborn belly fat. This is why IsaPro supplemental whey protein is a perfect addition to meal-replacements
              like IsaLean Shake. Isagenix also offers IsaLean Pro with this combination in convenient packets. IsaPro can
              be taken alone or mixed with fruit for a snack and a protein boost to stimulate metabolism.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('ProteinAfterCleanseDayPage')">Why Use Whey Protein to Break Your Cleanse Day</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/whey-powder-overflowing.jpg" alt="" (click)="loadPage('ProteinAfterCleanseDayPage')" class="shadowed"
            />
            <figcaption>Consuming whey protein
              <br />after Cleanse Days helps
              <br />preserve muscle.</figcaption>
          </figure>
          <div>
            <p>
              One of the principal findings of clinical studies around intermittent fasting with Isagenix-style Cleanse Days is that it
              can be an efficient method to accelerate fat loss and improve health markers (1-3). However, especially for
              the physically active on a weight-reduction program, a common concern is the decreased intake of calories that
              could lead to problems with maintaining or building muscle.
            </p>
            <p>
              Muscle is in a constant state of build up and break down in a process called protein turnover (4;5). Building muscle is controlled
              largely by a cellular mechanism called mTORC1. How much energy (calories) is consumed and the level of protein
              intake affect mTORC1 and ultimately the amount of muscle a person has (6;7). Reducing food intake or fasting
              can potentially reduce mTORC1 signaling and halt muscle building (8).
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('WheyTwiceADayPage')">Whey Protein Twice a Day Keeps Muscle Loss Away</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/fit-guy-color.jpg" alt="" (click)="loadPage('WheyTwiceADayPage')" class="shadowed" />
            <figcaption>A new study adds to the body of evidence that
              <br />whey protein is key for maintaining muscle
              <br />during weight loss.</figcaption>
          </figure>
          <div>
            <p>
              There’s a big difference between "good" and "bad" weight loss. The good kind, the kind we should all strive for, is losing
              the least amount of muscle in relation to body fat.
            </p>
            <p>
              Getting enough protein is one of the keys to preventing muscle loss while dieting, but research shows protein may be lacking
              in a lot of weight loss diets, considering that on average the amount of weight loss most people have is about
              30 percent from muscle.
            </p>
            <p>
              A matter of hot debate has been whether the source of protein, be it animal or plant, could be an important factor in saving
              muscle while losing weight. Some of early research has shown, for example, that dairy proteins such as whey
              have been able to lead to greater fat loss while maintaining muscle.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('WheyAndGymPage')">Make Gym Time Count with Whey Protein</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/fit-guy-black-and-white.jpg" alt="" (click)="loadPage('WheyAndGymPage')" class="shadowed" />
            <figcaption>Hard work at the gym pays off by
              <br />supplementing with whey protein.</figcaption>
          </figure>
          <div>
            <p>
              Getting to the gym and putting in a high-intensity workout can be challenging. So when you set aside the time to hit the
              gym and work yourself to exhaustion, don’t you want to make it count?
            </p>
            <p>
              According to a new study published in the Journal of the American College of Nutrition, what you eat before exercise can
              influence two vital hormones for muscle growth and recovery—testosterone and cortisol—and determine whether
              or not your workout pays off.
            </p>
            <p>
              Researchers looked at the effects of supplementing with whey protein, soy protein, or carbohydrate in resistance-trained
              men. For two weeks at a time, the subjects ingested each of the fuel sources before performing a heavy bout
              of weight lifting. After completing each of the two-week protocols, the researchers compared the effects on
              testosterone and cortisol levels.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('WheyBloodSugarPage')">Could Whey Protein Before or with Meals Help Control Blood Sugar?</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/whey-powder.jpg" alt="" (click)="loadPage('WheyBloodSugarPage')" class="shadowed" />
            <figcaption>Studies show consuming whey protein before
              <br />or with meals can improve blood sugar
              <br />management.</figcaption>
          </figure>
          <div>
            <p>
              One of the keys to a healthier, longer life is sustaining healthy blood sugar. Managing blood sugar is different for every
              person, but it doesn’t have to be difficult—in some cases, it can be as simple as consuming whey protein before
              or with each meal.
            </p>
            <p>
              The reason may be because whey protein stimulates the production of hormones in the gut that help to improve the efficiency
              of insulin needed to lower blood glucose, according to recent research published in the journal Diabetologia.
            </p>
          </div>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
