<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>JJ B.</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                  assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">JJ B.</h1>
      <div id="headerdiv" class="grid-container">
        <img src="assets/imgs/athletes/team-isa/thumbs/jj-b.jpg" alt="" />
        <section class="stats">
          <div>
            <span class="field">Age:</span>
            <span class="value">48</span>
          </div>
          <div>
            <span class="field">Location:</span>
            <span class="value">Scottsdale, Arizona</span>
          </div>
          <div>
            <span class="field">Rank:</span>
            <span class="value">4-Star Golden Circle, 1-Star Crystal Executive</span>
          </div>
          <div>
            <span class="field">Joined Isagenix:</span>
            <span class="value">July 2013</span>
          </div>
        </section>
        <img src="assets/imgs/athletes/team-isa/jj-b-01.jpg" alt="" />
      </div>
      <section>
        <h3>
          Former NFL Wide Receiver Scores Big with Isagenix
        </h3>
        <p>
          At 5’10" and 160 pounds, everyone said JJ B. was too small to play football.
        </p>
        <p>
          But, after nine successful years as an NFL wide receiver for the Cleveland Browns (1988-1989), Dallas Cowboys (1989), Kansas
          City Chiefs (1990-1994) and the Atlanta Falcons (1994-1996), JJ proved his critics wrong. "I guess the important
          thing is I am an example of what can be achieved if you want it bad enough and you’re willing to put in the work,"
          explains JJ.
        </p>
        <p>
          Now he’s applying that same philosophy to a new venture.
        </p>
        <h3>
          Life After Football
        </h3>
        <p>
          After retiring from football in 1997, JJ did a brief stint in corporate America, but in 2007, he decided to embark on a career
          in network marketing with his wife, Raina.
        </p>
        <p>
          For the next six years, they had great success, but were ready for change and looking for a new network marketing company
          to join forces with. That’s when they discovered Isagenix®.
        </p>
        <p>
          "I actually made a list of eleven requirements that my next company had to meet," said JJ. "Isagenix met all of them, including
          my most important requirement—having premier products backed by science."
        </p>
        <p>
          The business model also afforded JJ and his wife the time freedom they needed for their family.
        </p>
        <p>
          Together, JJ and Raina have eight children: five nieces and nephews who they have adopted and three biological children of
          their own. "Our house is crazy," jokes this Scottsdale resident. "But we are all striving for the same goal."
        </p>
        <h3>The Ultimate Touchdown</h3>
        <p>
          With all of the presentations, videos, sales and marketing tools completely accessible through Isagenix, JJ knew he’d found
          a company that "got it right." "The compensation plan is great. People can make great money up front and residual
          commissions kick in quickly after building your team. It’s amazing!" says JJ. "Isagenix is the full package," he
          adds. "They have been doing it right from day one and continue to do so. I don’t believe there is a more solid
          network marketing opportunity out there today."
        </p>
        <p>
          <p class="disclaimer">The individuals pictured are actual Isagenix Associates and not paid models.</p>
          <p class="disclaimer">
            * Weight loss should not be considered typical. In a study performed in 2012 by University of Illinois at Chicago researchers,
            subjects lost an average of 9 pounds with an average of 2 pounds of the loss from visceral fat after 30 days
            on an Isagenix system. The subjects also had a greater level of adherence and had more consistent weight loss
            from week to week compared to subjects on a traditional diet.
          </p>
          <p class="disclaimer">
            ** Earning levels for Isagenix Independent Associates that appear in this publication are examples and should not be construed
            as typical or average. Income level achievements are dependent upon the individual Associate’s business skills,
            personal ambition, time, commitment, activity, and demographic factors. For average earnings, see the Isagenix
            Independent Associate Earnings Statement found at IsagenixEarnings.com.
          </p>
          <p class="disclaimer">
            Isagenix Millionaires are defined as Isagenix Associates who have cumulatively earned $1 million or more with Isagenix.
          </p>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
