page-friends-and-family-program {
    .grid-container {
        grid-template-columns: auto;
    }

    #videoThumb {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $large-margin;
    }

    #pdf {
      cursor: pointer;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 800px) {
        .grid-container {
            grid-template-columns: auto auto;
        }

        #pdf {
          margin-left: $large-margin;
        }
    }
}
