<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-usd fixed-width space-right"></i>
      <span>Friends &amp; Family</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/green-people-background/green-people-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                assets/imgs/athletes/green-people-background/green-people-background-400.jpg 400w,
                assets/imgs/athletes/green-people-background/green-people-background-845.jpg 845w,
                assets/imgs/athletes/green-people-background/green-people-background-1164.jpg 1164w,
                assets/imgs/athletes/green-people-background/green-people-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Getting Started</h1>
      <div class="grid-container">
        <section>
          <img (click)="openVideoModal()" id="videoThumb" class="video-thumb" src="assets/imgs/misc/you-share-they-share-video-thumb.jpg" alt="You Share, They Share, Repeat Video" />
        </section>
        <section>
          <img class="pdf shadowed" id="pdf" src="assets/imgs/misc/you-share-they-share-repeat.jpg" alt="You Share, They Share, Repeat PDF"
          (click)="pdfProvider.openPdf('You Share, They Share, Repeat', 'https://firebasestorage.googleapis.com/v0/b/getfitglobal-bbef0.appspot.com/o/pdfs%2Fyou-share-they-share-repeat.pdf?alt=media&token=163c65f7-20c8-44d0-9377-007ae989e07d')" />
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
