<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-usd fixed-width space-right"></i>
      <span>Friends &amp; Family</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login> 
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/green-people-background/green-people-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                assets/imgs/athletes/green-people-background/green-people-background-400.jpg 400w,
                assets/imgs/athletes/green-people-background/green-people-background-845.jpg 845w,
                assets/imgs/athletes/green-people-background/green-people-background-1164.jpg 1164w,
                assets/imgs/athletes/green-people-background/green-people-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Getting Started</h1>
      <div class="grid-container">
        <section>
          <img (click)="openVideoModal()" id="videoThumb" class="video-thumb" src="assets/imgs/misc/you-plus-two.jpg" alt="You Plus Two Video" />
        </section>
        <section>
          <img id="pdf" src="assets/imgs/misc/you-plus-two-logo.jpg" alt="You Plus Two PDF"
          (click)="pdfProvider.openPdf('You + 2, Them + 2', 'https://firebasestorage.googleapis.com/v0/b/getfitglobal-bbef0.appspot.com/o/pdfs%2Fyou-plus-two-them-plus-two.pdf?alt=media&token=8700f0bf-0dec-41a7-8256-37df5dbbb2de')" />
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
