<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>Neil B.</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                  assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Neil B.</h1>
      <div id="headerdiv" class="grid-container">
        <img src="assets/imgs/athletes/team-isa/neil-b-01.jpg" alt="" />
        <section class="stats">
          <div>
            <span class="field">Age:</span>
            <span class="value">31</span>
          </div>
          <div>
            <span class="field">Location:</span>
            <span class="value">Sydney, Australia</span>
          </div>
          <div>
            <span class="field">Specialty:</span>
            <span class="value">Long-distance Runner</span>
          </div>
        </section>
        <img src="assets/imgs/athletes/team-isa/thumbs/neil-b.jpg" alt="" />
      </div>
      <section>
        <h3>
          Going the distance with Isagenix!
        </h3>
        <p>
          Neil B. began his running career in high school. "I ran cross country in school and my coach saw potential in me. He suggested
          I start training with the senior squad and it went from there. Over the last two years I’ve started competing and
          taking my running much more seriously," shares Neil.
        </p>
        <p>
          "I’d been having some problems with digestive discomfort during training, something commonly known as ‘runners gut;’ I’d
          been to see a number of nutritionists but nothing worked consistently. I approached a friend about how I could
          improve my nutrition and she introduced me to Isagenix.
        </p>
        <p>
          "Initially, I thought it was a bit expensive but I took the plunge and started on the Athletes Pak. I lost a couple of kilos
          I didn’t even know were there, I began feeling more energetic and alert at training but the best thing for me was
          that my gut was comfortable, even when I was training hard. That has been the biggest improvement for me!"
        </p>
        <p>
          Feeling less stressed during training and racing meant Neil started to see significant improvements in his racing times.
          "Since being on Isagenix I’ve recorded personal best times in 1500m, 5000m, 10000m, 10km, 12km and 14km which has
          been incredible. I decided to do a 30-Day System to support some of my friends from work; I couldn’t believe it
          when I lost another couple of kilos. I’ve gone from 71kg to 66kg.** Isagenix is now a permanent fixture in my routine.
          I’m always looking for ways to improve and it’s very exciting that new products are coming out all the time."
        </p>
        <p>
          Neil’s career highlight was coming 10th in the Sydney City to Surf in August 2012. "To place 10th in the world’s biggest
          road race was an amazing achievement for me. I’ve now moved to Sydney to work more closely with my coach and see
          what I can make of my running career.
        </p>
        <p>
          "Many athletes have misconceptions about taking new products and supplements. Most of us are seeking out that extra couple
          of percent from our performance and look to our training to help with that. I never thought about nutrition as
          a potential performance gain but the nutritional power I have unlocked with Isagenix is incredible. It’s amazing
          what your body can achieve when you provide it with the right fuel."
        </p>
        <p>
          Neil’s goals for the future are to continue improving on his personal best times and concentrate on staying injury free.
          He’s also building a business with Isagenix. "I’m currently running about 170km per week plus gyms sessions and
          core work. Many people have to make sacrifices and compromises to accommodate athletics but the wealth opportunity
          with Isagenix means I’m able to commit more time to my training. I can earn money when I’m training which offsets
          what I’d be losing from going to work. I’d been using the products for around eight months before I started sharing
          Isagenix with others. Looking back I should have been sharing so much earlier. This is such an incredible product
          and opportunity I’d be cheating others if I didn’t share it with them. It’s a great time to be involved with Isagenix!"
        </p>
        <p class="disclaimer">The individuals pictured are actual Isagenix Associates and not paid models.</p>
        <p class="disclaimer">
          * Weight loss should not be considered typical. In a study performed in 2012 by University of Illinois at Chicago researchers,
          subjects lost an average of 9 pounds with an average of 2 pounds of the loss from visceral fat after 30 days on
          an Isagenix system. The subjects also had a greater level of adherence and had more consistent weight loss from
          week to week compared to subjects on a traditional diet.
        </p>
        <p class="disclaimer">
          ** Earning levels for Isagenix Independent Associates that appear in this publication are examples and should not be construed
          as typical or average. Income level achievements are dependent upon the individual Associate’s business skills,
          personal ambition, time, commitment, activity, and demographic factors. For average earnings, see the Isagenix
          Independent Associate Earnings Statement found at IsagenixEarnings.com.
        </p>
        <p class="disclaimer">
          Isagenix Millionaires are defined as Isagenix Associates who have cumulatively earned $1 million or more with Isagenix.
        </p>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
