<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>Jill K.</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                  assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Jill K.</h1>
      <div id="headerdiv" class="grid-container">
        <img src="assets/imgs/athletes/team-isa/thumbs/jill-k.jpg" alt="" />
        <section class="stats">
          <div>
            <span class="field">Age:</span>
            <span class="value">52</span>
          </div>
          <div>
            <span class="field">Location:</span>
            <span class="value">Scottsdale, Arizona</span>
          </div>
          <div>
            <span class="field">Rank:</span>
            <span class="value">2-Star Golden Circle, Executive</span>
          </div>
          <div>
            <span class="field">Date Started Business:</span>
            <span class="value">July 2008</span>
          </div>
        </section>
        <img src="assets/imgs/athletes/team-isa/jill-k-01.jpg" alt="" />
      </div>
      <section id="mainContent">
        <div>
          <h3>
            Fitness Pro Creates Sleeker Shapes With Isagenix
          </h3>
          <p>
            Jill wasn’t looking to get in shape. The 52-year-old from Arizona is a personal trainer and a national figure competitor
            who is probably in better physical condition than most people 20 years her junior.
          </p>
          <p>
            However, with the help of Isagenix®, not only has she experienced unprecedented success in competitions, but she’s also helped
            her clients and built a business that she expects will serve as her full-time career in the near future.
          </p>
          <p>
            Jill had been a bodybuilder for nearly 10 years, but when she decided that she wanted to step up in competition with a trip
            to nationals, it became clear that steroids were considered par for the course. That wasn’t a step Jill was willing
            to take, so she decided to cross over into figure competitions, which she says are considered "a bit softer."
          </p>
          <p>
            One of her clients just happened to be Isagenix Co-Founder Kathy Coover, who had recommended Isagenix to her. Jill wasn’t
            sold at first, but after looking over the nutritional ingredients she reconsidered and even told her husband
            Scott, also a bodybuilder, about the products.
          </p>
          <p>
            "We had been with Bodybuilding.com and GNC for years and weren’t looking for any new supplements," says Jill. "When Kathy
            showed me the list of the ingredients used in the products, with my background in nutrition I immediately knew
            I had to get on Isagenix."
          </p>
          <p>
            Jill and her husband Scott soon began to see results with both gaining more muscle* and successfully reducing their body
            fat percentages*. Once she realized the success they were having, she decided it was the perfect time to put
            the products to the ultimate test. She cut back on her normally intense workouts and watched to see what the
            products could do for her in competition.
          </p>
          <p>
            "I tested Isagenix prior to and during events and took home two fourth-place finishes in an event, which is really good,"
            shares Jill. "While training, I was just exhausted all the time, but my endurance went up** after I started using
            Isagenix."
          </p>
          <p>
            Jill knew immediately that she had a product people would want, especially given her elite clientele who generally want to
            lose weight and gain extra energy, plus do it quickly. With her experience as a trainer and the wide variety
            of nutritional products available, it’s been easy to find something to offer each of her clients.
          </p>
          <p>
            "Isagenix is for people who are overweight, underweight and want more energy. I tailor the systems based on what I see and
            hear from them and can dial in where I don’t think other people can." explains Jill. "Before Isagenix, if you
            wanted muscles, I knew how to train them. Now I can help them shape their body both inside and out and keep them
            on the products longer."
          </p>
          <p>
            While Jill said that connecting with other fitness competitors is difficult because they’re extremely skeptical, she says
            the products are selling themselves with their physical results.
          </p>
          <p>
            Her husband Scott has also been enjoying the benefits of Isagenix, even though he no longer competes as a bodybuilder.
          </p>
          <p>
            "He stays on the products so he keeps in shape," shares Jill. "Bodybuilders are on a yo-yo, either fat and out of shape or
            in season. He can stay on Isagenix and still look good without a lot of the work."
          </p>
          <p>
            For Jill and Scott, though, the most important thing Isagenix has done is to allow them to plan for the future, both financially
            and physically.
          </p>
          <p>
            "It has afforded us so much freedom and time. We plan on doing our business full-time in the next year and quitting everything
            else," explains Jill. "We love the products and the compensation plan. Everybody wants to stay healthy and live
            longer. To me, it’s anti-aging and I don’t think that’s talked about enough."
          </p>
        </div>
        <aside>
          <h3>Jill’s Business Tips</h3>
          <ul>
            <li>Follow-up is huge.</li>
            <li>I’m a firm believer in signing up for IsaDiary™. Go to IsaDiary.com today!</li>
            <li>Encourage your team to attend an Isagenix® University. I’ve never seen anybody walk away disappointed.</li>
            <li>Don’t give out too many samples because people don’t treat it in the same way as if they bought it.</li>
            <li>Try to enroll two people within 48 hours. Be a Consultant and then branch out from there.</li>
            <li>Carry business cards and enrollment applications with you at all times. If you fail to plan, you plan to fail.</li>
            <li>Cleansing is definitely a must, especially for women. I have a lot of women do the cleanse because as women,
              we need to get the "jiggle" out of there.</li>
          </ul>
          <h3>
            Favorite Products
          </h3>
          <ul>
            <li>30-Day Cleansing and Fat Burning System</li>
            <li>Ionix® Supreme</li>
          </ul>
        </aside>
        <div>
          <p class="disclaimer">The individuals pictured are actual Isagenix Associates and not paid models.</p>
          <p class="disclaimer">
            * Weight loss should not be considered typical. In a study performed in 2012 by University of Illinois at Chicago researchers,
            subjects lost an average of 9 pounds with an average of 2 pounds of the loss from visceral fat after 30 days
            on an Isagenix system. The subjects also had a greater level of adherence and had more consistent weight loss
            from week to week compared to subjects on a traditional diet.
          </p>
          <p class="disclaimer">
            ** Earning levels for Isagenix Independent Associates that appear in this publication are examples and should not be construed
            as typical or average. Income level achievements are dependent upon the individual Associate’s business skills,
            personal ambition, time, commitment, activity, and demographic factors. For average earnings, see the Isagenix
            Independent Associate Earnings Statement found at IsagenixEarnings.com.
          </p>
          <p class="disclaimer">
            Isagenix Millionaires are defined as Isagenix Associates who have cumulatively earned $1 million or more with Isagenix.
          </p>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
