<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-book fixed-width space-right"></i>
      <span>Research</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
              assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
              assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
              assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
              assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Athlete Articles</h1>
      <p id="tapH5" class="note centered">(Tap a headline or image to view full document.)</p>
      <p id="clickH5" class="note centered">(Click a headline or image to view full document.)</p>
      <section id="firstSection">
        <h2 class="centered" (click)="loadPage('IsaproNaturalWheyPage')">Why IsaPro is the Natural Whey</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/athletes/pasture.jpg" alt="" (click)="loadPage('IsaproNaturalWheyPage')" class="shadowed" />
            <figcaption>All-natural quality IsaPro whey comes from dairy cows raised on pastures of New Zealand.</figcaption>
          </figure>
          <div>
            <p>Whether you’re an athlete, bodybuilder or weekend warrior, you know that getting enough protein in your diet
              is vital to provide the amino acid "building blocks" that must be available to fuel growth of muscle and make
              the most of those long hours of training. Yes, you can maximize muscle gains with the right kind of protein.
            </p>
            <p>
              Numerous studies have shown that whey protein is superior to other protein sources because it’s more easily absorbed and
              contains higher levels of branched-chain amino acids (BCAAs) to drive muscle protein anabolism—the lean muscle
              growth you want.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('NewZealandWheyPage')">Why Use New Zealand Whey? Grain-fed Cows Are Sick</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/athletes/which-whey.jpg" alt="" (click)="loadPage('NewZealandWheyPage')" class="shadowed" />
          </figure>
          <div>
            <p>
              Which whey protein is right for you? With Isagenix, the answer is easy: New Zealand whey. See our "Which Whey Protein is
              Right for You?" PDF flyer by clicking here or on the image to the left.
            </p>
            <p>
              If the old saying, "you are what you eat," is right, you will rethink consuming products from grain-fed cows. A new study
              shows that cows fed high-grain diets have a higher incidence of metabolic disorders related to the build-up
              of several toxic and inflammatory compounds as well as changes in amino acid profiles in their digestive fluids
              compared to cows on low-grain diets. Having these metabolic complications (and the need for antibiotic use)
              negatively affects the quality of dairy products produced, including the whey protein found in milk.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('WheyAndGymPage')">Make Gym Time Count with Whey Protein</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/athletes/curl.jpg" alt="" (click)="loadPage('WheyAndGymPage')" class="shadowed" />
            <figcaption>Hard work at the gym pays off by supplementing with whey protein.</figcaption>
          </figure>
          <div>
            <p>
              Getting to the gym and putting in a high-intensity workout can be challenging. So when you set aside the time to hit the
              gym and work yourself to exhaustion, don’t you want to make it count?
            </p>
            <p>
              According to a new study published in the Journal of the American College of Nutrition, what you eat before exercise can
              influence two vital hormones for muscle growth and recovery—testosterone and cortisol—and determine whether
              or not your workout pays off.
            </p>
            <p>
              Researchers looked at the effects of supplementing with whey protein, soy protein, or carbohydrate in resistance-trained
              men. For two weeks at a time, the subjects ingested each of the fuel sources before performing a heavy bout
              of weight lifting. After completing each of the two-week protocols, the researchers compared the effects on
              testosterone and cortisol levels.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('EnduranceAthletesPage')">How Endurance Athletes Can Benefit From Cleanse Days</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/athletes/swimmer.jpg" alt="" (click)="loadPage('EnduranceAthletesPage')" class="shadowed" />
            <figcaption>Keeping these tips in mind can help endurance athletes benefit from Cleanse Days.</figcaption>
          </figure>
          <div>
            <p>
              At Isagenix, a frequently asked question of runners and other endurance athletes is "can Cleanse Days be used without hurting
              performance?" The answer is yes… with a few exceptions. Here’s what you need to know:
            </p>
            <p>
              Properly timed cleansing increases antioxidant capacity. Cleansing goes way beyond simply burning fat. In fact, it may boost
              a system very important to athletes: the antioxidant defense system. In highly trained male cyclists, four
              days of very low energy restriction increased cellular glutathione (GSH)—the body’s most abundant antioxidant—37
              percent and GSH peroxidase (a major antioxidant protein) by 48 percent, while stress was decreased by 52 percent.
            </p>
            <p>
              While performance suffered during calorie restriction, the results suggest that several markers of the antioxidant defense
              system were greatly increased in hard training athletes as they continued exercising.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('AthleticAdaptogensPage')">E+: Modulated Caffeine and Adaptogens for Athletic Performance</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/runners.jpg" alt="" (click)="loadPage('AthleticAdaptogensPage')" class="shadowed" />
            <figcaption>Lead the pack by optimizing performance with the unique blend of adaptogens and natural caffeine in Isagenix e+.</figcaption>
          </figure>
          <div>
            <p>
              With athletes over the last 30 years at the Colgan Institute, we have tested synthetic caffeine, the form used in most sodas
              and energy drinks today. We have compared its effects with natural caffeines from arabica coffee (Coffea arabica),
              black and green teas (Camelia sinensis), guarana (Paullinia cupana), and yerba maté (Ilex paraguariensis).
            </p>
            <p>
              We have seen better effects and have not found undesirable side effects with judicious amounts of natural caffeines. In agreement
              with controlled studies, we have found that moderate doses of plant extracts of caffeine from Coffea arabica,
              and Camelia sinensis, calculated for lean body weight, and used under specific conditions, yield a significant
              improvement in running time in a 10K race of 1.0 percent to 3.3 percent. For a runner whose best 10K is approaching
              40 minutes, a goal for many recreational runners, we have found an average improvement of 1 minute 17 seconds.
              That is a huge gain in performance.
            </p>
          </div>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
