page-save-your-telomeres {
  #fig1 {
    float: left;
    margin-left: 0;
  }

  ol li {
    font-size: smaller;
    margin-bottom: $small-margin;
  }

  #telomereTlc {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
