<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-exclamation-circle fixed-width space-right"></i>
      <span>Problem</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
    <header role="banner">
        <img src="assets/imgs/why-cleanse/woman-with-cloth/woman-with-cloth-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
          srcset="
              assets/imgs/why-cleanse/woman-with-cloth/woman-with-cloth-400.jpg 400w,
              assets/imgs/why-cleanse/woman-with-cloth/woman-with-cloth-1008.jpg 1008w,
              assets/imgs/why-cleanse/woman-with-cloth/woman-with-cloth-1400.jpg 1400w" />
      </header>
      <main role="main">
        <article class="grid-container">
          <section id="fedUpContent">
            <h1 class="uppercase">Fed Up</h1>
            <p>
              <span class="title">Fed Up</span> focuses on the OVERUSE OF SUGAR in our food supply by showing how the first dietary guidelines issued
              by the U.S. government 30 years ago overlooked the role of dietary sugar in increasing risks of obesity, diabetes,
              and its associated ill-health outcomes, particularly in children.</p>
          </section>
          <section id="fedUpImage">
            <img src="assets/imgs/misc/fed-up.jpg" alt="Fed Up Video" (click)="openVideoModal('fed-up')" class="video-thumb" />
          </section>
          <section id="foodMattersContent">
            <h1 class="uppercase">Food Matters</h1>
            <p>
              <span class="title">Food Matters</span> sheds a spotlight on the trillion dollar worldwide sickness industry and how OVER-FARMING and
              BIG PHARMA has had a detrimental impact on our health, putting the interest of PRIVATE PROFIT over PUBLIC HEALTH.
            </p>
          </section>
          <section id="foodMattersImage">
            <img src="assets/imgs/misc/food-matters.jpg" alt="Food Matters Video" (click)="openVideoModal('food-matters')" class="video-thumb"
            />
          </section>
          <section id="theUnhealthyTruthContent">
            <h1 class="uppercase">The Unhealthy Truth</h1>
            <p>
              <span class="title">The Unhealthy Truth</span> is a call to action that shows how each of us can do our part and keep our own families
              safe. Author Robyn O’Brien turns to accredited research conducted in Europe that confirms the toxicity of America’s
              food supply, and investigates the relationship between Big Food and Big Money that has ensured that the United
              States is one of the only developed countries in the world to allow hidden toxins in our food—toxins that are increasingly
              being blamed for the alarming recent increases in allergies, A.D.H.D., cancer, and asthma among our children.
            </p>
          </section>
          <section id="theUnhealthyTruthImage">
            <img src="assets/imgs/misc/robyn.jpg" alt="The Unhealthy Truth Video" (click)="openVideoModal('unhealthy-truth')" class="video-thumb"
            />
          </section>
          <section id="whyDietsAreFailingUsContent">
            <h1 class="uppercase">Why Diets Are Failing Us</h1>
            <p>Peter Greenlaw is the author of the best-selling book,
              <span class="title">Why Diets are failing us.</span> He discusses the challenges of Toxicity, Deficiency, and GMO’s and their implications
              on our health. He also highlights the alarming concern of how there are over 100,000 chemicals in commercial use
              in North America today and less than 560 have ever been tested for human exposure or consumption.</p>
          </section>
          <section id="whyDietsAreFailingUsImage">
              <img src="assets/imgs/misc/diets-failing.jpg" alt="Why Diets Are Failing Us Video" (click)="openVideoModal('diets-failing')"
              class="video-thumb" />
          </section>
        </article>
      </main>
</ion-content>
