<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-th-large fixed-width space-right"></i>
      <span>Core 4</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/green-cloth-girl/green-cloth-girl-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw" srcset="
            assets/imgs/green-cloth-girl/green-cloth-girl-400.jpg 400w,
            assets/imgs/green-cloth-girl/green-cloth-girl-846.jpg 846w,
            assets/imgs/green-cloth-girl/green-cloth-girl-1174.jpg 1174w,
            assets/imgs/green-cloth-girl/green-cloth-girl-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">Core 4</h1>
      <div class="grid-container" id="grid">
        <section>
          <img src="assets/imgs/products/cleanse-for-life.jpg" alt="Cleanse for Life" (click)="loadCleansePage()" class="pointer" />
          <h3 class="uppercase centered">Cleanse for Life</h3>
        </section>
        <section>
          <img src="assets/imgs/products/ionix-supreme.jpg" alt="Ionix Supreme" (click)="loadIonixPage()" class="pointer" />
          <h3 class="uppercase centered">Ionix Supreme</h3>
        </section>
        <section>
          <img src="assets/imgs/products/isa-lean.jpg" alt="IsaLean Shake" (click)="loadIsaLeanPage()" class="pointer" />
          <h3 class="uppercase centered">IsaLean Shake</h3>
        </section>
        <section>
          <img src="assets/imgs/products/product-b.jpg" alt="Isagenesis" (click)="loadIsaGenesisPage()" class="pointer" />
          <h3 class="uppercase centered">Isagenesis</h3>
        </section>
      </div>
    </article>
  </main>
</ion-content>
