<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-check fixed-width space-right"></i>
      <span>Kids - Solution</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/kids/kids-background/kids-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw" srcset="
              assets/imgs/kids/kids-background/kids-background-400.jpg 400w,
              assets/imgs/kids/kids-background/kids-background-847.jpg 847w,
              assets/imgs/kids/kids-background/kids-background-1166.jpg 1166w,
              assets/imgs/kids/kids-background/kids-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Kid-Approved Isagenix Products</h1>
      <img id="img01" src="assets/imgs/kids/kids-400.jpg" alt="Kids" class="shadowed" />
      <ul id="nav">
          <li class="selected">Kid-Approved Isagenix Products</li>
          <li (click)="loadPage('Easy_1_2_3Page')">Easy 1-2-3</li>
          <li (click)="loadPage('IsagenixForKidsPage')">Isagenix for Kids</li>
          <li (click)="loadPage('FiveReasonsPage')">5 Reasons Isagenix is Good for Children</li>
          <li (click)="loadPage('StayingHealthyPage')">Staying Healthy Lifetime Commitment</li>
      </ul>
      <p>
        Most parents agree that everything in moderation is best when it comes to our kids, especially when it comes to food. With
        vending machines filled with junk food and soda, lollipops given as a reward at the doctor’s office, and over 17,000
        new processed foods introduced yearly (1)—many of which are sold at kid’s eye level—at what moment does moderation
        become excess?
      </p>
      <p>
        When you cut through all the mass marketing messages, the packaging, and the whining and begging, the bottom line is always
        the same: kids need healthy fruits, veggies, whole grains, healthy proteins, and a certain amount of healthy fats.
        They also need vitamins, minerals, and micronutrients to form healthy bodies and minds. The best way to get these
        is through good food, preferably organic whenever possible.
      </p>
      <p>
        However, it is not that easy to ensure your children are getting the proper nutrition they need. Our soils are depleted of
        minerals (2). Also, over 80,000 environmental toxins are released yearly with most of them going untested for toxicity
        (3). Many kids are picky eaters and refuse to eat the healthy food you offer them. Put those and other factors together
        and you have a lack in the proper nutrients your child receives.
      </p>
      <p>
        Generally speaking, most kids get too much of the wrong stuff and not enough of the right stuff. Chances are, your kids and
        many of their peers are eating too many fats, added sugars, sodium, empty carbs, and preservatives. Statistics show
        kids aren’t getting nearly enough fruits and veggies. Only 22 percent of children ages 2 to 5 meet government recommendations
        for vegetable consumption according to a 2009 study by researchers at Ohio State University, and it only gets worse
        as kids get older. Just 16 percent of children ages 6 to 11 meet the government’s guidelines, and only 11 percent
        of those ages 12 to 18 (4).
      </p>
      <p>
        The childhood obesity rate has more than tripled in the past four decades (5). Girls now have a 40 percent lifetime risk
        of being diagnosed with type 2 diabetes, and boys have a 30 percent risk (6). Without changes in diet, exercise,
        and lifestyle, our kid’s odds of growing into healthy adults are not looking good.
      </p>
      <p>
        There may be many issues over which you battle with your kids, like safety and homework. But food? Food sustains your family
        and brings everyone together. If your family meals have become family feuds, then perhaps it is time to switch things
        up. Isagenix offers healthy solutions for healthier eating.
      </p>
      <p>
        Kids who get plenty of exercise, follow the Isagenix program, and eat a healthy, well-balanced diet build strong, healthy
        bodies. Isagenix provides our children with unparalleled nutritional products that enhance health.
      </p>
      <p>
        All Isagenix superfoods meet our no-compromise ingredient policy standards. They use only natural ingredients with no artificial
        sweeteners, flavors, or colors.
      </p>
      <p>
        Below are some of the superfoods your kids can enjoy.
      </p>
      <h3>Age 4 and Above</h3>
      <ul>
        <li>IsaLean® Shakes and Soups</li>
        <li>Isamune® Plus with Zinc</li>
        <li>Isagenix Greens!™</li>
        <li>IsaFruits®</li>
        <li>SlimCakes®</li>
        <li>IsaLean® Bars</li>
        <li>Isagenix Snacks!™</li>
        <li>IsaKids® Essentials</li>
        <li>FiberSnacks!™</li>
        <li>Dairy-Free Natural Berry Harvest IsaLean® Shake</li>
        <li>Whey Thins™</li>
        <li>Hydrate®</li>
        <li>IsaCrunch®</li>
      </ul>
      <p class="disclaimer">(Note: due to labeling regulations in Canada, the Isagenix Allergen Table lists the age suggestion for IsaCrunch and
        Hydrate as 12+ years of age.)</p>
      <h3>Age 12 and Above</h3>
      <ul>
        <li>IsaOmega Supreme®</li>
        <li>IsaPro®</li>
        <li>C-Lyte®</li>
        <li>FiberPro™</li>
        <li>Cleanse for Life® – daily cleanse</li>
      </ul>
      <p>
        Kids love Isagenix. Not only do Isagenix products supply their bodies with many of the superior minerals and vitamins they
        need on a daily basis, but they taste great, too! Staying healthy and nourishing our bodies is a lifetime commitment,
        one that is important for the entire family.
      </p>
      <p>
        Many Isagenix products are appropriate for young kids and adolescents so they can start developing healthy habits at a young
        age and grow into strong, healthy, lean adults with a better quality of life. It’s never too late to help your kids
        develop nutritional habits that can last a lifetime.
      </p>
      <h3>References</h3>
      <ol>
          <li>Pollan M. Food Rules, An Eater’s Manual. The Penguin Press, New York, 2011.</li>
          <li>Davis DR, Epp MD, Riordan, HD. Changes in the USDA food composition data for 43 garden crops, 1950 to1999. J Amer Col Nutr, 2004;23(6):669-682.</li>
          <li>Reuben SH. Reducing Environmental Cancer Risk: What We Can Do Now. President’s Cancer Panel, Annual Report 2008-2009. Retrieved from:http://deainfo.nci.nih.gov/advisory/pcp/annualReports/pcp08-09rpt/PCP_Report_08-09_508.pdf</li>
          <li>Cohen, E. Ten Ways To Get Kids To Eat Their Veggies. 2011. Retrieved from:http://www.cnn.com/2011/HEALTH/06/02/kids.eat.vegetables.ep/</li>
          <li>American Heart Association. Understanding Childhood Obesity, An Epidemic of Excess. 2011. Retrieved from: http://www.heart.org/idc/groups/heart-public/@wcm/@fc/documents/downloadable/ucm_304175.pdf</li>
          <li>Institute of Medicine. Obesity Related Diseases. Albany, NY. 2004
      </ol>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
