<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-bed fixed-width space-right"></i>
      <span>Amped Recover</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/pink-dumbbells-girl/pink-dumbbells-girl-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
              assets/imgs/athletes/pink-dumbbells-girl/pink-dumbbells-girl-400.jpg 400w,
              assets/imgs/athletes/pink-dumbbells-girl/pink-dumbbells-girl-848.jpg 848w,
              assets/imgs/athletes/pink-dumbbells-girl/pink-dumbbells-girl-1170.jpg 1170w,
              assets/imgs/athletes/pink-dumbbells-girl/pink-dumbbells-girl-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
