<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-home fixed-width space-right"></i>
      <span>Home</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/homepage/background/background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
          assets/imgs/homepage/background/background-400.jpg 400w,
          assets/imgs/homepage/background/background-827.jpg 827w,
          assets/imgs/homepage/background/background-1140.jpg 1140w,
          assets/imgs/homepage/background/background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
    </article>
  </main>
</ion-content>
