<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-archive fixed-width space-right"></i>
      <span>Better</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-400.jpg 400w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-847.jpg 847w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1168.jpg 1168w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">Value Pak</h1>
      <div id="topContainer" class="grid-container">
        <section>
          <img src="assets/imgs/products/value-pak-lg.jpg" alt="Value Pak" />
        </section>
        <section>
          <p>The Weight Loss Value Pak is now more valuable than ever!</p>
          <p>This popularly recommended pak contains a wide assortment of products designed to work together for optimal results,
            offered at the best possible value. Work toward your weight wellness goals, using daily nutritional support along
            with the convenient AM and PM Complete Essentials™ vitamin packets. Receive additional support from over 60 meals,
            including four nutritionally supported Cleanse Days.</p>
        </section>
      </div>
      <div id="bottomContainer" class="grid-container">
        <section>
          <h3>Values and Benefits</h3>
          <h4>Includes</h4>
          <ul>
            <li>FREE IsaBlender® (US$40 value)</li>
            <li>FREE one-year Isagenix membership for you (US$29 value)</li>
            <li>FREE one-year Isagenix membership coupons for two of your friends or family members (US$58 value)</li>
            <li>US$25 product coupon to use on your next order</li>
            <li>US$75 event coupon to be used on a future event</li>
          </ul>
          <h4>Snacking Options</h4>
          <ul>
            <li>Meal replacement IsaLean™ Bars can be enjoyed as a full meal replacement or cut in half for a snack</li>
            <li>Available with e+™ or 5-Piece Sample Pak – your choice</li>
            <li>Additional cleanse support products like IsaDelight® and Whey Thins™</li>
          </ul>
          <h4>Dairy-Free Option</h4>
          <p>
            This pak now comes in a dairy-free option for those with dairy sensitivities or allergies or those who are looking for more
            plant-based protein in their diets.
          </p>
        </section>
        <section>
          <h3>Product List</h3>
          <ol>
            <li>4 IsaLean® Shake</li>
            <li>2 Cleanse for Life®</li>
            <li>1 Ionix® Supreme</li>
            <li>1 Cleanse Support Bundle - Accelerator, IsaFlush, and Snacks</li>
            <li>1 Complete Essentials Daily Pack with IsaGenesis®</li>
            <li>1 e+ Natural Balanced Energy Shot</li>
            <li>1 IsaLean® Bars</li>
            <li>1 IsaDelight®</li>
            <li>1 Isagenix Greens</li>
            <li>1 Whey Thins</li>
            <li>1 IsaBlender Max</li>
            <li>1 System Guide - Weight Management</li>
            <li>1 Event Coupon $75</li>
            <li>Value Pak Tool Kit</li>
            <li>$25 Product Coupon</li>
            <li>2 Friends & Family Enrollment certificates</li>
          </ol>
        </section>
        <section>
          <h3>Product Info</h3>
          <ul class="list-unstyled">
            <li>
              <span class="pdf" (click)="pdfProvider.openPdf('System Guide for Weight Loss', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fsystem-guide-for-weight-loss.pdf?alt=media&token=9e3c3bfc-4d8e-4f2e-93d9-0c9bb68f0cbf')">System Guide for Weight Loss</span>
            </li>
          </ul>
        </section>
        <section>
          <h3>Testimonials</h3>
          <p>
            <span class="testimonial">"I bought the Value Pak in the beginning to share all of the products with my friends and family. They all saw
              great results within the first 2 weeks.”</span> – Clint J. Minnesota
          </p>
          <p>
            <span class="testimonial">"I started my Isagenix experience with a Value Pak, which was the largest pak offered at the time, and I’m so
              glad that I did. It not only gave me a chance to try all the most popular products right from the start, it
              has allowed me to suggest the Value Pak with total integrity. I so enjoyed it that I have an easy time suggesting
              others start the same way I did and as a result I’ve earned more money faster than I would have otherwise.”</span>
            – Rick R., California
          </p>
          <p>
            <span class="testimonial">"The Value Pak is one of my favorite recommendations for those starting their home business. After having the
              most amazing results with the Isagenix system, I knew I wanted everyone I knew to experience what I had just
              experienced and this pak is the perfect one. Love it!!”</span> – Rose N., Utah</p>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
