<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-check-circle fixed-width space-right"></i>
      <span>Solution</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/why-cleanse/woman-with-cloth/woman-with-cloth-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw" srcset="
              assets/imgs/why-cleanse/woman-with-cloth/woman-with-cloth-400.jpg 400w,
              assets/imgs/why-cleanse/woman-with-cloth/woman-with-cloth-1008.jpg 1008w,
              assets/imgs/why-cleanse/woman-with-cloth/woman-with-cloth-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article class="grid-container">
      <section id="areYouToxicContent">
        <h1 class="uppercase">Are You Toxic?</h1>
        <p>
          <span class="title">Are You Toxic</span> addresses the concerns of living in a world that is TOXIC and a food supply that is DEFICIENT,
          which are major contributors to chronic disease and obesity. Isagenix, the World Leader in Deep Cellular Nutritional
          Cleansing and Fat-burning, offers a solution.</p>
      </section>
      <section id="areYouToxicImage">
        <img src="assets/imgs/misc/are-you-toxic.jpg" alt="Are You Toxic Video" (click)="openVideoModal('toxic')" class="video-thumb"
        />
      </section>
      <section id="nutritionalCleansingContent">
        <ion-col col-12 col-lg class="col-left">
          <h1 class="uppercase">Nutritional Cleansing</h1>
          <p>
            <span class="title">Nutritional Cleansing</span> discusses a lifestyle change with Nutritional Cleansing by addressing two major
            issues: environmental toxicity and nutritional deficiency. The video also describes the benefits of Isagenix
            products.
          </p>
        </ion-col>
      </section>
      <section id="nutritionalCleansingImage">
        <img src="assets/imgs/misc/mary.jpg" alt="Nutritional Cleansing Video" (click)="openVideoModal('cleansing')" class="video-thumb"
        />
      </section>
      <section id="whyIsagenixWorksContent">
        <h1 class="uppercase">Why Isagenix Works</h1>
        <p>
          Dr. Michael Colgan is a leading visionary in the field of healthy aging and athletic performance. He shares his insight as
          to WHY our bodies NEED the nutrients provided by Isagenix.
          <span class="title">Why Isagenix Works</span>&nbsp;focuses on the power of the Isagenix System and undenatured whey protein.</p>
      </section>
      <section id="whyIsagenixWorksImage">
        <img src="assets/imgs/misc/michael.jpg" alt="Why Isagenix Works Video" (click)="openVideoModal('isa-works')" class="video-thumb"
        />
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
<ion-footer *ngIf="this.auth.loggedIn">
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button full color="secondary" (click)="loadProblemPage()">
          <i class="fa fa-exclamation-circle fixed-width space-right"></i>
          <span>Problem</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
