<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>Angelike N.</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
                assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
                assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
                assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Angelike N.</h1>
      <div id="headerdiv" class="grid-container">
        <img src="assets/imgs/athletes/team-isa/thumbs/angelike-n.jpg" alt="" />
        <section class="stats">
          <div>
            <span class="field">Age:</span>
            <span class="value">35</span>
          </div>
          <div>
            <span class="field">Location:</span>
            <span class="value">Huntersville, North Carolina</span>
          </div>
        </section>
        <img src="assets/imgs/athletes/team-isa/angelike-n-01.jpg" alt="" />
      </div>
      <section>
        <h3>
          Oxygen Cover Model Turns to Isagenix For Her Best Figure</h3>
        <p>
          Late last year, Angelike N.’s world shifted in almost every sense. She had a baby. Her father passed away from a sudden bout
          of cancer. She accepted a promotion and relocated with her husband to another state.
        </p>
        <p>
          So, when Oxygen magazine came knocking to see if she could get into peak condition for the cover of their March 2013 issue
          in just a month, it would have been easy for her to turn it down. Thankfully, she knew preparing for another Oxygen
          cover would be easier this time around because she had Isagenix®.
        </p>
        <p>
          "Before having a child, I used to prep and carry my food everywhere. I was a ‘chew your food’ athlete and did too much cardio
          and weight training," admits 35-year-old Angelike of North Carolina. "It was a difficult lifestyle to maintain
          and it was made even more impossible when you have to carry a diaper bag, a stroller and manage a full-time executive
          career. Isagenix changed my life."
        </p>
        <h3>
          Isagenix for Success
        </h3>
        <p>
          "I trusted my Isagenix products," continues Angelike, who started using Isagenix when her daughter Ella was six weeks old
          and kicked it into gear in September. "I honestly feel like the products did most of the work since my schedule
          was very haphazard and unpredictable." Between late board meetings, driving long distances to support her 19 team
          members and working from her home office, Angelike was able to cobble together a consistent cardio and weight-training
          regimen that included key Isagenix products such as Ionix® Supreme, Want More Energy?®, IsaPro® and IsaLean® Shake.
          She skipped the boxed lunches in board meetings and on planes and opted for IsaLean® Bars or an IsaLean Shake instead.
          When she stepped on set for her big photo shoot with Oxygen magazine, she felt better than ever.
        </p>
        <h3>
          Sharing Health and Wealth
        </h3>
        <p>
          "I was really proud and that’s the first time I could really say that," shares Angelike. "I was proud of all of the components
          of truly being ‘healthy’ coming together and shooting in my best form ever, especially after bouncing back from
          having a child and all of the adversity I had faced."
        </p>
        <p>
          Her passion for Isagenix products has caught on with her husband, mother, in-laws, and other friends. And, though she initially
          said "no" to creating a business because of a "lack of time," the 2-Star Golden Circle and her husband have earned
          good money…even having no idea what they were doing.
        </p>
        <p>
          She could have earned money through lucrative sponsorships with other supplement companies, but it’s never been about the
          money. When she’d turn over bottles and notice scary ingredients that were unhealthy, she’d turn the companies
          down flat.
        </p>
        <p>
          "I just wasn’t willing to make those compromises for the sake of vanity. This is about your health," says Angelike. Now,
          as she reflects on her journey with Isagenix, she says she hopes her experience will shine a light of hope for
          others facing tough obstacles.
        </p>
        <p>
          "I know people are on their knees every night praying for better health, financial freedom or freedom from their bad habit,"
          says Angelike. "I feel like somewhere down the line, I’ll be able to help someone else going through turmoil; to
          help lift them up, edify them and help them get the fight back against the things that life throws at them."
        </p>
        <p class="disclaimer">The individuals pictured are actual Isagenix Associates and not paid models.</p>
        <p class="disclaimer">
          * Weight loss should not be considered typical. In a study performed in 2012 by University of Illinois at Chicago researchers,
          subjects lost an average of 9 pounds with an average of 2 pounds of the loss from visceral fat after 30 days on
          an Isagenix system. The subjects also had a greater level of adherence and had more consistent weight loss from
          week to week compared to subjects on a traditional diet.
        </p>
        <p class="disclaimer">
          ** Earning levels for Isagenix Independent Associates that appear in this publication are examples and should not be construed
          as typical or average. Income level achievements are dependent upon the individual Associate’s business skills,
          personal ambition, time, commitment, activity, and demographic factors. For average earnings, see the Isagenix
          Independent Associate Earnings Statement found at IsagenixEarnings.com.
        </p>
        <p class="disclaimer">
          Isagenix Millionaires are defined as Isagenix Associates who have cumulatively earned $1 million or more with Isagenix.
        </p>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
