get-footer {
  footer {
    background-color: $footer-bg-color;
    padding-top: 20px;
  }

  footer img {
    display: block;
    width: 85vw;
    margin: auto;
    max-width: 800px;
  }

  footer div {
    text-align: center;
    margin-top: 10px;
  }

  footer div span {
    color: $light-color;
    font-style: italic;
  }

  footer div img {
    display: block;
    margin: auto;
    padding-bottom: 30px;
    max-width: 50vw;
  }

  .simple-lbl {
    display: inline-block;
    color: #777;
  }

  #copyright {
    display: inline-block;
    font-weight: normal;
    font-size: small;
    font-style: normal;
    padding-bottom: 30px;
    color: #777;
  }

  #getQuote {
    margin: auto;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 85vw;
    max-width: 600px;
  }

  a img {
    width: 50vw;
    max-width: 200px;
  }

  @media (min-width: 640px) {
    a img {
      width: 40vw;
    }

    #getQuote {
      width: 75vw;
    }

    .simple-lbl {
      font-size: large;
    }
  }

  @media (min-width: 700px) {
    footer div span {
      font-size: large;
    }

    footer div img {
      display: block;
      margin: auto;
      max-width: 25vw;
    }

    a img {
      max-width: 25vw !important;
    }

    #getQuote {
      width: 50vw;
    }

    .simple-lbl {
      font-size: x-large;
    }
  }

  @media (min-width: 1200px) {
    a img {
      max-width: 15vw !important;
    }

    #getQuote {
      width: 40vw;
    }
  }
}
