<footer role="contentinfo">
  <img sizes="(max-width: 937px) 100vw" src="assets/imgs/countries/countries.jpg" alt="" />
  <img id="getQuote" sizes="(max-width: 601px) 100vw" src="assets/imgs/misc/get-quote.jpg" alt="" />
  <div>
    <span class="simple-lbl">Learn More About Our Product</span>
  </div>
  <div>
    <a href="http://getfree.global">
      <img src="assets/imgs/misc/getfreeglobal.png" alt="Get Free dot Global/>
    </a>
    <a href="http://globalexecteam.com">
      <img sizes="(max-width: 324px) 100vw" src="assets/imgs/misc/global-exex-team.jpg" />
    </a>
  </div>
  <div>
    <span id="copyright">&copy; {{year}} Get Free</span>
  </div>
</footer>
