<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-users fixed-width space-right"></i>
      <span>Team Isagenix</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
              assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
              assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
              assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
              assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Team Isagenix</h1>
      <h3 class="centered">A Sample of the Hundreds of Team Isagenix Athletes</h3>
      <p id="tapH5" class="note centered">(Tap an image to view athlete's story.)</p>
      <p id="clickH5" class="note centered">(Click an image to view athlete's story.)</p>
      <section id="athletes">
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/angelike-n.jpg" alt="Angelike N." class="shadowed" (click)="loadPage('AngelikeNPage')"
            />
            <figcaption>Angelike N.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/david-g.jpg" alt="David G." class="shadowed" (click)="loadPage('DavidGPage')"
            />
            <figcaption>David G.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/jj-b.jpg" alt="JJ B." class="shadowed" (click)="loadPage('JjBPage')" />
            <figcaption>JJ B.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/dottie-b.jpg" alt="Dottie B." class="shadowed" (click)="loadPage('DottieBPage')"
            />
            <figcaption>Dottie B.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/jana-p.jpg" alt="Jana P." class="shadowed" (click)="loadPage('JanaPPage')" />
            <figcaption>Jana P.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/jill-k.jpg" alt="Jill K." class="shadowed" (click)="loadPage('JillKPage')" />
            <figcaption>Jill K.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/lindsey-s.jpg" alt="Lindsey S." class="shadowed" (click)="loadPage('LindseySPage')"
            />
            <figcaption>Lindsey S.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/lori-h.jpg" alt="Lori H." class="shadowed" (click)="loadPage('LoriHPage')" />
            <figcaption>Lori H.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/luis-a.jpg" alt="Luis A." class="shadowed" (click)="loadPage('LuisAPage')" />
            <figcaption>Luis A.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/natalie-c.jpg" alt="Natalie C." class="shadowed" (click)="loadPage('NatalieCPage')"
            />
            <figcaption>Natalie C.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/neil-b.jpg" alt="Neil B." class="shadowed" (click)="loadPage('NeilBPage')" />
            <figcaption>Neil B.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/seville-k.jpg" alt="Seville K." class="shadowed" (click)="loadPage('SevilleKPage')"
            />
            <figcaption>Seville K.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/shane-f.jpg" alt="Shane F." class="shadowed" (click)="loadPage('ShaneFPage')"
            />
            <figcaption>Shane F.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/tiff-d.jpg" alt="Tiff D." class="shadowed" (click)="loadPage('TiffDPage')" />
            <figcaption>Tiff D.</figcaption>
          </figure>
          <figure>
            <img src="assets/imgs/athletes/team-isa/thumbs/tony-m.jpg" alt="Tony M." class="shadowed" (click)="loadPage('TonyMPage')" />
            <figcaption>Tony M.</figcaption>
          </figure>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
