<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-superpowers fixed-width space-right"></i>
      <span>IsaLean Pro</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/pink-dumbbells-girl/pink-dumbbells-girl-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
              assets/imgs/athletes/pink-dumbbells-girl/pink-dumbbells-girl-400.jpg 400w,
              assets/imgs/athletes/pink-dumbbells-girl/pink-dumbbells-girl-848.jpg 848w,
              assets/imgs/athletes/pink-dumbbells-girl/pink-dumbbells-girl-1170.jpg 1170w,
              assets/imgs/athletes/pink-dumbbells-girl/pink-dumbbells-girl-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">IsaLean Pro</h1>
      <div class="grid-container">
        <section id="firstSection">
          <img src="assets/imgs/athletes/isa-pro-lg.png" alt="IsaLean Pro" />
        </section>
        <section>
          <p>
            <strong>Your (Weight) Loss Is Your (Lean Muscle) Gain</strong>
            <br/> This specialized nutrition is great for athletes, active people and teens who want to gain muscle and for those
            trying to break through weight-loss plateaus, lose stubborn belly or harmful visceral fat. It’s also beneficial
            for older adults who want to prevent age-related muscle loss. IsaLean PRO Shake contains a high concentration
            of branched-chain amino acids to naturally boost muscle growth and maintenance while helping speed post-workout
            recovery.
          </p>
          <ul>
            <li>Curbs hunger</li>
            <li>Boosts fat burning, especially visceral fat</li>
            <li>Maximizes lean muscle gain</li>
            <li>Active enzymes to aid digestion</li>
          </ul>
        </section>
      </div>
      <h3>Flavors</h3>
      <ul>
        <li>Natural Vanilla</li>
        <li>French Vanilla</li>
        <li>Natural Chocolate</li>
      </ul>
      <h3>Videos</h3>
      <ul class="list-unstyled">
        <li (click)="openVideoModal()">
          <span class="video-li">IsaLean Pro Presentation - Your Key to Building Muscle and Losing Weight</span>
        </li>
      </ul>
      <h3>Product Info</h3>
      <ul id="pdfs" class="list-unstyled">
        <li>
          <span class="pdf" (click)="pdfProvider.openPdf('IsaLean Pro Information Sheet', 'https://firebasestorage.googleapis.com/v0/b/getfitglobal-bbef0.appspot.com/o/pdfs%2Fisalean-pro-product-info.pdf?alt=media&token=94f55959-b937-442c-b229-7747cffdf516')">IsaLean Pro Product Information Sheet</span>
        </li>
      </ul>
      <h3>Ingredients</h3>
      <ul id="pdfs" class="list-unstyled">
        <li>
          <span class="pdf" (click)="pdfProvider.openPdf('IsaLean Pro - Natural Chocolate Ingredients', 'https://firebasestorage.googleapis.com/v0/b/getfitglobal-bbef0.appspot.com/o/pdfs%2Fus-en-fact-panel-isalean-pro-chocolate.pdf?alt=media&token=e340a215-0816-4bf2-99de-9dc4a8ae8119')">IsaLean Pro - Natural Chocolate</span>
        </li>
        <li>
          <span class="pdf" (click)="pdfProvider.openPdf('IsaLean Pro - French Vanilla Ingredients', 'https://firebasestorage.googleapis.com/v0/b/getfitglobal-bbef0.appspot.com/o/pdfs%2Fus-en-fact-panel-isalean-pro-french-vanillla.pdf?alt=media&token=80535702-0795-4d4a-975c-78b778b00fea')">IsaLean Pro - French Vanilla</span>
        </li>
        <li>
          <span class="pdf" (click)="pdfProvider.openPdf('IsaLean Pro - Natural Vanilla Ingredients', 'https://firebasestorage.googleapis.com/v0/b/getfitglobal-bbef0.appspot.com/o/pdfs%2Fus-en-fact-panel-isalean-pro-natural-vanilla.pdf?alt=media&token=1c6fa720-8dcc-46c6-8838-e90c2245d79a')">IsaLean Pro - Natural Vanilla</span>
        </li>
      </ul>
      <h3>Testimonials</h3>
      <p>
        <span class="testimonial">"In my book ‘The Right Protein for Muscle and Strength,’ I lauded the whey protein concentrate—the same one in Isagenix
          products. It’s the best formula out there."</span> – Dr. Michael Colgan, Best-Selling Sports Author and Trainer</p>
      <p>
        <span class="testimonial">
          "It’s completely changed my life. Isagenix is easy, pure and delivers more energy than you’ve ever experienced, even with
          food."
        </span>
        – Lori Harder, Isagenix Athlete, Personal Trainer, Nutritional Consultant, Ms. Figure America, Ms. Bikini America, Ms. Bikini
        Universe *A real Isagenix® product user. Not a paid model.
      </p>
      <p>
        <span class="testimonial">
          "When we diet we lose muscle; it’s inevitable! But the Isagenix system fortifies the body to prevent muscle loss. It created
          a tighter physique for my clients and allows them to stay conditioned."</span>
        – Cathy Savage, Fitness Coach</p>
      <p>
        <span class="testimonial">
          "The products allow you to stay lean and gain muscle at the same time. I’m living proof that the Isagenix system works effectively."
        </span>
        — Bo Lively, Natural Body Builder
      </p>
      <p>
        <span class="testimonial">
          "The other products I was using were not even close to Isagenix. The protein is second to none."</span>
        –Paul Anthony, Natural Body Builder
      </p>
      <p>
        <span class="testimonial">
          "Isagenix nutrition is for the elite athlete, weekend warrior or anyone who wants to do it in a pure natural way."</span>
        — Shane Freels, Personal Trainer
      </p>
      <p>
        <span class="testimonial">
          "It’s balanced nutrition and super convenient."</span>
        – Megan Moon, Fitness Competitor</p>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
