page-isalean-pro-shake {

  .grid-container {
    grid-template-columns: auto;
  }

  #firstSection {
    display: block;
    margin-left: auto;
    margin-right: auto;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h4 {
      text-align: center;
      margin-top: $default-margin;
    }
  }
  
  h3 {
    font-variant: small-caps;
    border-bottom: 1px solid $tertiary-color;
    margin-top: $large-margin;
  }

  h4 {
    font-style: italic;
  }

  p {
    margin-bottom: $large-margin;
  }

  #pdfs li {
    margin-bottom: $default-margin;
  }

  @media (min-width: 800px) {
    .grid-container {
      grid-template-columns: auto auto;
    }

    #firstSection {
      margin-right: $large-margin;
      margin-top: $default-margin;
    }
  }

}
