page-childhood-obesity-awareness {
  #img01, #img02 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 640px) {
    #img01 {
      float: left;
      margin-right: $large-margin;
      margin-bottom: $default-margin;
    }

    #img02 {
      float: right;
      margin-left: $default-margin;
    }
  }
}
