page-adaptogens {
    h2 {
        cursor: pointer;
    }

    figure {
        margin-left: auto;
        margin-right: auto;

        img {
            cursor: pointer;
        }
    }

    @media (min-width: 640px) {
        .grid-container {
            grid-template-columns: auto auto;
        }

        figure {
            margin-left: 0;
            margin-right: $large-margin;
        }
    }
}
