<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-pagelines fixed-width space-right"></i>
      <span>Adaptogens</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/science/blue-science-background/blue-science-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
            assets/imgs/science/blue-science-background/blue-science-background-400.jpg 400w,
            assets/imgs/science/blue-science-background/blue-science-background-1076.jpg 1076w,
            assets/imgs/science/blue-science-background/blue-science-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Adaptogens</h1>
      <p id="tapH5" class="note centered">(Tap a headline or image to view full document.)</p>
      <p id="clickH5" class="note centered">(Click a headline or image to view full document.)</p>
      <section id="firstSection">
        <h2 class="centered" (click)="loadPage('BrainAdaptogensPage')">Your Brain on Adaptogens</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/adaptogens-brain.jpg" alt="" (click)="loadPage('BrainAdaptogensPage')" class="shadowed" />
            <figcaption>Adaptogens work like a "stress vaccine" for your brain.</figcaption>
          </figure>
          <div>
            <p>
              How we react to mental stress is controlled by a complex interaction between the hypothalamus, pituitary gland and adrenal
              glands. These three structures form the hypothalamus-pituitary-adrenal (HPA) axis and help control mood, energy
              levels, body temperature, and immunity.
            </p>
            <p>
              The hypothalamus secretes hormones that act on the pituitary gland that can cause or stop the release of pituitary hormones.
              The adrenal glands release stress hormones like cortisol and adrenaline. The role of the HPA axis is expansive
              yet its primary function relates to how we respond to stress. In the first stage of the stress response the
              hypothalamus releases a hormone that signals the pituitary to "activate" the adrenal gland to release cortisol.
              Cortisol is a classical stress hormone that is increased during times of stress.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('IonixSupremeAdaptogensPage')">Meet the Adaptogens in Ionic Supreme</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/science-behind.png" alt="" (click)="loadPage('IonixSupremeAdaptogensPage')" class="shadowed"
            />
          </figure>
          <div>
            <p>
              Stress affects us every day. Whether from work, finances, or relationships, stress can make us feel overworked and overloaded.
              But stress affects more than just our mental performance. It has real physical consequences, too, and can eventually
              lead to poor health and disease.
            </p>
            <p>
              Stress management methods include exercise, hobbies, or other relaxing activities such as meditation or yoga. Unfortunately,
              according to a 2006 survey by the American Psychological Association, many Americans are resorting to unhealthy
              habits when trying to manage stress. Whether it’s alcohol, stimulants or simply overeating, many Americans
              are in need of finding a positive outlet for stress.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('YerbaMatePage')">Yerba Mate and Adaptogens: What's Inside E+</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/e-shot-girl.jpg" alt="" (click)="loadPage('YerbaMatePage')" class="shadowed" />
            <figcaption>The ingredients in the e+ shot explain its unique energizing benefits.</figcaption>
          </figure>
          <div>
            <p>
              Whether you use it for a morning jolt, an afternoon pick-me-up, or an exercise elixir, Isagenix e+ Natural Energy Shot has
              become an essential tool for many to stay energized throughout the day. But do you really know what’s inside
              e+ and how it works to give you that healthy boost of energy?
            </p>
            <p>
              When you break the seal of the two-ounce bottle, the first thing you notice is the aroma of crisp apple and pomegranate.
              That’s right—natural juices and no artificial flavors, sweeteners, or colors are used in e+, or any Isagenix
              product for that matter.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('DrBrekhmanPage')">Dr. Israel Brekhman: "Father of Adaptogens" and His Energizing Adaptogen Blend in E+</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/dr-brekhman.jpg" alt="" (click)="loadPage('DrBrekhmanPage')" class="shadowed" />
            <figcaption>Dr. Israel Brekhman’s adaptogen formula found in Isagenix e+ can give you the energy and focus you need.</figcaption>
          </figure>
          <div>
            <p>
              It was 1960 when Russian scientist, Dr. Israel Brekhman, first had his work published in scientific literature. This first
              publication was a culmination of 15 years of previous research on adaptogens—a topic Brekhman dedicated the
              rest of his life to. His continued research on adatogens led to hundreds more publications and discovery of
              the many health benefits from these protective agents. Brekhman was not only a world-renowned scientist and
              researcher, but also a medical doctor, teacher, and philosopher. Known as the "Father of Adaptogens," he’s
              credited with introducing to the world formulas of adaptogens that promote health by helping people cope with
              everyday stress, maintain high levels of energy, and free the body from fatigue.
            </p>
            <p>
              In a society plagued by chronic stress, a targeted solution to prime and protect the body from its harmful effects is necessary.
              Deemed "nature’s answer to stress," Isagenix Ionix Supreme contains adaptogen compounds that work in the body
              by increasing its ability to adapt to stress while also improving physical and mental functioning under stressful
              conditions.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('AthleticAdaptogensPage')">E+: Modulated Caffeine and Adaptogens for Athletic Performance</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/runners.jpg" alt="" (click)="loadPage('AthleticAdaptogensPage')" class="shadowed" />
            <figcaption>Lead the pack by optimizing performance with the unique blend of adaptogens and natural caffeine in Isagenix e+.</figcaption>
          </figure>
          <div>
            <p>
              With athletes over the last 30 years at the Colgan Institute, we have tested synthetic caffeine, the form used in most sodas
              and energy drinks today. We have compared its effects with natural caffeines from arabica coffee (Coffea arabica),
              black and green teas (Camelia sinensis), guarana (Paullinia cupana), and yerba maté (Ilex paraguariensis).
            </p>
            <p>
              We have seen better effects and have not found undesirable side effects with judicious amounts of natural caffeines. In agreement
              with controlled studies, we have found that moderate doses of plant extracts of caffeine from Coffea arabica,
              and Camelia sinensis, calculated for lean body weight, and used under specific conditions, yield a significant
              improvement in running time in a 10K race of 1.0 percent to 3.3 percent. For a runner whose best 10K is approaching
              40 minutes, a goal for many recreational runners, we have found an average improvement of 1 minute 17 seconds.
              That is a huge gain in performance.
            </p>
          </div>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
