<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-bolt fixed-width space-right"></i>
      <span>Telomeres</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/science/blue-science-background/blue-science-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
            assets/imgs/science/blue-science-background/blue-science-background-400.jpg 400w,
            assets/imgs/science/blue-science-background/blue-science-background-1076.jpg 1076w,
            assets/imgs/science/blue-science-background/blue-science-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Telomeres</h1>
      <p id="tapH5" class="note centered">(Tap a headline or image to view full document.)</p>
      <p id="clickH5" class="note centered">(Click a headline or image to view full document.)</p>
      <section id="firstSection">
        <h2 class="centered" (click)="loadPage('SaveYourTelomeresPage')">Save Your Telomeres</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/healthy-aging.jpg" alt="" (click)="loadPage('SaveYourTelomeresPage')" class="shadowed" />
            <figcaption>Healthy aging begins with protecting your telomeres.</figcaption>
          </figure>
          <div>
            <p>
              Since their discovery more than 75 years ago by the Nobel Laureate geneticist Hermann Müller, telomeres have attracted worldwide
              attention among scientists investigating the aging process.
            </p>
            <p>
              Telomeres are the protective caps on the ends of chromosomes composed of short DNA sequences protecting our DNA and genetic
              material from damage. Another Nobel Laureate, Elizabeth Blackburn, likened telomeres to the little plastic
              caps on the ends of shoelaces (aglets).
            </p>
            <p>
              Under normal conditions, when a cell divides, telomeres shorten. If they grow too short, they reach what’s known as the Hayflick
              limit (named after the esteemed gerontologist Leonard Hayflick), and the protective capacity of the telomere
              decreases. Real-world relevance of telomere shortening can be observed during the aging process in humans when
              comparing the length of telomeres from newborns (8,000 base pairs) to adults (3,000 base pairs) to elderly
              individuals (1,500 base pairs).
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('EatingLessPage')">Could Eating Less Be Good for Your Telomeres?</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/mouse.jpg" alt="" (click)="loadPage('EatingLessPage')" class="shadowed" />
            <figcaption>Mice fed fewer calories have healthier telomeres, study finds.</figcaption>
          </figure>
          <div>
            <p>
              Having less on your plate might help preserve your telomeres and keep you feeling younger, hints a mouse study from Spain.
            </p>
            <p>
              The study found that young mice fed fewer calories across most of their lifespan were healthier and had longer telomeres.
              In addition, the calorie restriction combined with greater levels of telomerase—the enzyme that maintains the
              length of telomeres—led to increased mouse “health span??? and longevity.
            </p>
            <p>
              The team of scientists, led by Maria Blasco, director of the Spanish National Cancer Research Centre (CNIO) and head of the
              Telomeres and Telomerase Group, previously found that stimulating the expression of the telomerase enzyme in
              normal aged mice extended their health and lifespan. In the new study, the researchers evaluated the effects
              of calorie restriction on a variety of mice that were genetically altered to express greater levels of telomerase.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('TalesOfTelomeresPage')">Tales of Telomeres</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/david-despain.png" alt="" (click)="loadPage('TalesOfTelomeresPage')" class="shadowed" />
            <figcaption>Trainer: Senior Manager of Science Communications, David Despain, M.Sc.</figcaption>
          </figure>
          <div>
            <p>
              Could we one day live past 120? Sound like science fiction? Learn from David Despain how understanding telomeres could soon
              make living longer and healthier a reality.
            </p>
            <audio controls>
              <source src="https://firebasestorage.googleapis.com/v0/b/getfitglobal-bbef0.appspot.com/o/mp3s%2Ftales-of-telomeres.mp3?alt=media&token=df860142-764c-4fd4-a3a8-335517a26d76">
              <p>Your device does not support native audio.</p>
            </audio>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('PhobicStressPage')">Phobic Stress Linked to Shorter Telomeres</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/airplane.jpg" alt="" (click)="loadPage('PhobicStressPage')" class="shadowed" />
            <figcaption>New study suggests that high levels of phobic anxiety, as in fear of flying, may lead to shorter telomeres.</figcaption>
          </figure>
          <div>
            <p>
              Too much stress is never a good thing; it’s linked with a bevy of poor health outcomes and can even age you faster. Now,
              Harvard Medical School researchers have shown that phobic anxiety could hasten shortening of telomeres, the
              markers of aging.
            </p>
            <p>
              The researchers found that phobic anxiety—or the irrational fear of a certain situation or object (i.e. fear of flying or
              crowded spaces)—is associated with a greater number of cells with short telomeres, similar to that which is
              found in people who suffer from chronic stress.
            </p>
            <p>
              The study, funded by the National Institutes of Health, analyzed telomere lengths in blood samples provided by 5,243 middle
              aged and elderly women who were divided into low and high phobic anxiety groups based on self-reports regarding
              phobic symptoms on a validated questionnaire. Women with high phobic anxiety had significantly shorter telomeres
              than women with low phobic anxiety, showing premature aging of telomeres that would correspond to a difference
              of about six years.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('EnvironmentalPollutionPage')">Environmental Pollution Linked to Short Telomeres</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/telomeres.jpg" alt="" (click)="loadPage('EnvironmentalPollutionPage')" class="shadowed" />
            <figcaption>Research has found that Italian women living near illegal toxic waste dumps have shorter telomeres.</figcaption>
          </figure>
          <div>
            <p>
              Living too close to a landfill containing hazardous waste is associated with premature aging at the level of telomeres, according
              to a new study from University of Naples Federico II in Italy.
            </p>
            <p>
              The length of telomeres, protective caps on the ends of chromosomes, is considered a biological marker of aging. Telomeres
              shorten with age and when exposed to oxidative stress, the amount of which can be raised by a number of factors
              including environmental pollution.
            </p>
            <p>
              To evaluate how environmental pollution can affect telomeres, the Italian researchers evaluated blood samples of 50 pregnant
              women who lived in close proximity to illegal hazardous waste dumps in Italy’s Campania region.They found that
              the women had significantly shorter telomeres compared to women living in other areas free of the landfills.
              In addition, the women who lived closest to the dumps were most likely to have short telomeres.
            </p>
          </div>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
