<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>Natalie C.</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                  assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Natalie C.</h1>
      <div id="headerdiv" class="grid-container">
        <img src="assets/imgs/athletes/team-isa/natalie-c-01.jpg" alt="" />
        <section class="stats">
          <div>
            <span class="field">Age:</span>
            <span class="value">38</span>
          </div>
          <div>
            <span class="field">Location:</span>
            <span class="value">Brisbane, Australia</span>
          </div>
          <div>
            <span class="field">Rank:</span>
            <span class="value">1-Star Golden Circle, Crystal Executive</span>
          </div>
          <div>
            <span class="field">Joined Isagenix:</span>
            <span class="value">February 2013</span>
          </div>
        </section>
        <img src="assets/imgs/athletes/team-isa/natalie-c-02.jpg" alt="" />
      </div>
      <section>
        <h3>
          Olympic Gold Medalist Strives for New Gold With Isagenix
        </h3>
        <p>
          Natalie is no stranger to hard work and knows it takes focus to make dreams a reality. After just a handful of years playing
          volleyball, she received the call of a lifetime: did she want to go to the Olympics? Thus began her journey to
          five Olympic games playing sand volleyball.
        </p>
        <p>
          "I quickly found out that when you’re in a bikini, you can’t hide your weight," remembers Natalie. "After we won bronze in
          Atlanta in 1996, we knew we needed to look at my weight to prepare for Sydney in 2000."
        </p>
        <p>
          The world-class athlete cobbled together nutritional supplements and dropped 25 pounds, but it was time-consuming. Still,
          the weight loss and training worked. During the 2000 Olympic Games in Sydney, Australia she and her partner took
          home the gold, the first for Australia.
        </p>
        <h3>
          Nutritional Gold Comes Knocking
        </h3>
        <p>
          Fast-forward six months after retiring from the sport. Carrying an extra 10 pounds from the "post-Olympic-eat-and-drink-whatever-you-want,"
          Natalie nearly tripped over an Isagenix box.
        </p>
        <p>
          "I saw the system and was so excited by it all. It was like health in a box," shares Natalie. "You don’t have to make your
          own cocktail of nutrition. It’s all there."
        </p>
        <p>
          Within days, she had released seven pounds.* Then, 20 people joined her for a cleanse. That’s when her Isagenix business
          exploded.
        </p>
        <p>
          "I didn’t think I had earned anything," laughs Natalie. "There were thousands of dollars in my account. It was a light bulb
          moment for me."
        </p>
        <h3>
          The Gold Standard
        </h3>
        <p>
          So what’s next for the gold medalist? Focusing on going for the equivalent of gold in her Isagenix business: Isagenix Millionaire.
        </p>
        <p>
          "My 20-year career in the sport of sand volleyball was driven by passion and the desire to win the gold medal," says Natalie.
          "In my Isagenix business, I know if I want to reach Millionaire, it’s going to be a journey."
        </p>
        <p>
          Together, she and her life partner Sarah Maxwell, are committed to transforming 1 million lives, with freedom as the ultimate
          goal.
        </p>
        <p class="disclaimer">The individuals pictured are actual Isagenix Associates and not paid models.</p>
        <p class="disclaimer">
          * Weight loss should not be considered typical. In a study performed in 2012 by University of Illinois at Chicago researchers,
          subjects lost an average of 9 pounds with an average of 2 pounds of the loss from visceral fat after 30 days on
          an Isagenix system. The subjects also had a greater level of adherence and had more consistent weight loss from
          week to week compared to subjects on a traditional diet.
        </p>
        <p class="disclaimer">
          ** Earning levels for Isagenix Independent Associates that appear in this publication are examples and should not be construed
          as typical or average. Income level achievements are dependent upon the individual Associate’s business skills,
          personal ambition, time, commitment, activity, and demographic factors. For average earnings, see the Isagenix
          Independent Associate Earnings Statement found at IsagenixEarnings.com.
        </p>
        <p class="disclaimer">
          Isagenix Millionaires are defined as Isagenix Associates who have cumulatively earned $1 million or more with Isagenix.
        </p>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
