page-cleansing {
    .grid-container {
        grid-template-columns: auto;
    }

    h2 {
      cursor: pointer;
    }

    figure {
        margin-left: auto;
        margin-right: auto;

        img {
            box-shadow: 0px 0px 15px #999;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    #firstSection {
        margin-top: $large-margin;
    }

    #systemGuide {
      color: $secondary-color;
      text-decoration: underline;
      cursor: pointer;
    }

    #tapH5, #clickH5 {
        font-weight: normal;
        text-shadow: none;
        font-size: smaller;
    }

    #tapH5 {
        display: block;
    }

    #clickH5 {
        display: none;
    }

    section {
        border-bottom: 1px solid $tertiary-color;
        margin-bottom: $default-margin;
        padding-bottom: $default-margin;
    }

    @media (min-width: 640px) {
        .grid-container {
            grid-template-columns: auto auto;
        }

        figure {
            margin-left: 0;
            margin-right: $large-margin;
        }
    }

    @media (min-width: 1250px) {
        #tapH5 {
            display: none;
        }

        #clickH5 {
            display: block;
        }
    }
}
