<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-leaf fixed-width space-right"></i>
      <span>Cleansing</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/science/blue-science-background/blue-science-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
            assets/imgs/science/blue-science-background/blue-science-background-400.jpg 400w,
            assets/imgs/science/blue-science-background/blue-science-background-1076.jpg 1076w,
            assets/imgs/science/blue-science-background/blue-science-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Cleansing</h1>
      <p id="tapH5" class="note centered">(Tap a headline or image to view full document.)</p>
      <p id="clickH5" class="note centered">(Click a headline or image to view full document.)</p>
      <section id="firstSection">
        <h2 class="centered" (click)="loadPage('WhyCleanseForLifePage')">Why You Should Cleanse for Life</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/green-yoga-girl.jpg" alt="" (click)="loadPage('WhyCleanseForLifePage')" class="shadowed" />
            <figcaption>Long-term protection
              <br /> from toxins can be
              <br />achieved by living a
              <br />nutritional cleansing
              <br />lifestyle.</figcaption>
          </figure>
          <div>
            <p>
              Every day we’re continually exposed to toxins in the food we eat, the air we breathe, the water we drink, and the items we
              touch. Learning more about these potentially harmful chemicals can be critical for making decisions to protect
              long-term health. As with any subject, toxins are best understood through a little history.
            </p>
            <p>
              Toxins—or xenobiotics—have always been part of the natural environment. Many of them are made by plants, bacteria, and animals
              as defenses to keep predators at bay. The greater the abundance of toxins in a species, the more likely they
              will survive. This natural arms race has produced millions of different kinds of toxins including venoms and
              poisons.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('WhyUseWheyPage')">Why Use Whey Protein to Break Your Cleanse Day</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/whey-powder-overflowing.jpg" alt="" (click)="loadPage('WhyUseWheyPage')" class="shadowed" />
            <figcaption>Consuming whey protein
              <br />after Cleanse Days helps
              <br />preserve muscle.</figcaption>
          </figure>
          <div>
            <p>
              One of the principal findings of clinical studies around intermittent fasting with Isagenix-style Cleanse Days is that it
              can be an efficient method to accelerate fat loss and improve health markers. However, especially for the physically
              active on a weight-reduction program, a common concern is the decreased intake of calories that could lead
              to problems with maintaining or building muscle.
            </p>
            <p>
              Muscle is in a constant state of build up and break down in a process called protein turnover. Building muscle is controlled
              largely by a cellular mechanism called mTORC1. How much energy (calories) is consumed and the level of protein
              intake affect mTORC1 and ultimately the amount of muscle a person has. Reducing food intake or fasting can
              potentially reduce mTORC1 signaling and halt muscle building.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('CleanseOneOrTwoDaysPage')">Should You Cleanse One or Two Days Per Week?</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/girls-arms-raised.jpg" alt="" (click)="loadPage('CleanseOneOrTwoDaysPage')" class="shadowed" />
          </figure>
          <div>
            <p>
              Nutritional cleansing with Isagenix can be adapted to fit anyone’s goals and personal needs. Since you have the option to
              choose one or two Cleanse Days per week as part of an Isagenix 30-Day Cleansing and Fat Burning System, it’s
              common to wonder whether one or two Cleanse Days will be more beneficial.
            </p>
            <p>
              The answer: There’s no single perfect way to cleanse.
            </p>
            <p>
              You can get great benefits with whichever option you choose. However, there are some important guidelines (see the
              <span id="systemGuide" (click)="pdfProvider.openPdf('System Guide for Weight Loss', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fsystem-guide-for-weight-loss.pdf?alt=media&token=9e3c3bfc-4d8e-4f2e-93d9-0c9bb68f0cbf')">System Guide for Weight-Loss</span>) to help you get the most out of your Cleanse Days.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('ChocolateWeightManagementPage')">Why a Little Chocolate Can Be Good for Weight Management</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/isa-delights.jpg" alt="" (click)="loadPage('ChocolateWeightManagementPage')" class="shadowed" />
            <figcaption>
              IsaDelights make it easy
              <br />to indulge while losing
              <br />weight.
            </figcaption>
          </figure>
          <div>
            <p>
              You should never have to fully abstain from the foods that bring you the most joy. The good news: A little chocolate daily
              can actually support you in achieving your weight-loss goals.
            </p>
            <p>
              The reason chocolate can be helpful has to do with indulgence, satisfaction, and balanced eating. When individuals take on
              the approach of complete restriction of certain foods like chocolate, they often end up with just the opposite:
              temptation, mental exhaustion, self-sabotage, and weight gain.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="centered" (click)="loadPage('NineTipsPage')">Nine Tips to Prepare for a Successful Cleanse Day</h2>
        <div class="grid-container">
          <figure>
            <img src="assets/imgs/science/cleanse-day-people.jpg" alt="" (click)="loadPage('NineTipsPage')" class="shadowed" />
            <figcaption>
              The last thing you want
              <br />on a Cleanse Day is to
              <br />feel overwhelmed or
              <br />improperly prepared.
            </figcaption>
          </figure>
          <div>
            <p>
              Whether you want to lose weight or just do something good for your body, you put a lot of dedication and effort into your
              Cleanse Days. We get that. It’s why we want you to be as prepared as possible so nothing can hold you back
              from achieving your goals.
            </p>
            <p>
              To help you on your way, we’ve put together a checklist of things that can help make Cleanse Days easy for you.
            </p>
            <p>
              1. Start with at least two Shake Days before doing any Cleanse Days.
            </p>
            <p>
              Doing at least two Shake Days can help prepare your body for a Cleanse Day. For example, Shake Days can help ease your body
              into the Isagenix System better than regular nutrition can.
            </p>
          </div>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
