<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-book fixed-width space-right"></i>
      <span>Research</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                    assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
                    assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
                    assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
                    assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="centered uppercase">Why Use New Zealand Whey? Grain-Fed Cows Are Sick</h1>
      <figure id="fig1">
        <img src="assets/imgs/athletes/which-whey.jpg" alt="" class="shadowed" (click)="pdfProvider.openPdf('Which Whey Protein is Right for You?', 'https://firebasestorage.googleapis.com/v0/b/getfitglobal-bbef0.appspot.com/o/pdfs%2Fwhey-comparison.pdf?alt=media&token=7568096a-d93f-42a2-92e3-bcabf127a0a0')"
        />
        <figcaption>(Click or tap to enlarge).</figcaption>
      </figure>
      <p>
        Which whey protein is right for you? With Isagenix, the answer is easy: New Zealand whey. See our "Which Whey Protein is
        Right for You?" PDF flyer by clicking on the image to the left.
      </p>
      <p>
        If the old saying, "you are what you eat," is right, you will rethink consuming products from grain-fed cows. A new study
        shows that cows fed high-grain diets have a higher incidence of metabolic disorders related to the build-up of several
        toxic and inflammatory compounds as well as changes in amino acid profiles in their digestive fluids compared to
        cows on low-grain diets. Having these metabolic complications (and the need for antibiotic use) negatively affects
        the quality of dairy products produced, including the whey protein found in milk.
      </p>
      <p>
        In the study, cows were fed diets consisting of 0-, 15-, 30-, or 45-percent barley grain. Scientists used a combination of
        measuring techniques to identify 93 metabolites in digestive fluid samples taken from the cows. What they found was
        shocking. The cows that were fed the high-grain diets (>30 percent) had significantly increased amounts of toxic
        and inflammatory compounds in their digestive fluids including:
      </p>
      <ul>
        <li>Putrescine—a foul-smelling organic chemical compound that is produced in the breakdown of amino acids in living and
          dead organisms. It is responsible for the odor produced during flesh decomposition and contributes to “bad breath.???
          It is toxic in large amounts.</li>
        <li>Methylamine—organic compound with a strong odor similar to fish that is used to make agricultural chemicals such
          as herbicides, fungicides, and insecticides.</li>
        <li>Ethanolamine—a toxic, flammable, corrosive liquid used in the production of detergents, polishes, and pharmaceuticals.</li>
      </ul>
      <p>
        The anatomy of a cow was built to live off a diet of grass and shrubbery. However, due to high market demands, farmers have
        turned to grains such as corn for feed because of convenience and money. It is a lot more economically sound to confine
        cows to feedlots and feed them grain, which can be digested faster allowing them to "fatten up" quickly. In the eyes
        of a businessman, this is advantageous; however, science is showing that high-grain diets promote the development
        of disease and illness because cows are not built to digest grains.
      </p>
      <p>
        The several perturbed amino acid profiles in the digestive fluids of cows fed high-grain diets included phenylalanine, ornthithine,
        lysine, leucine, arginine, valine, and phenylacetylglycine. While microbial protein in the rumen (main digestive
        organ of cows) is an excellent source of high-quality protein, it is not sufficient enough to meet the requirements
        for high levels of milk production. If amino acids are disrupted in the rumen, their ability to be absorbed is severely
        reduced.
      </p>
      <p>
        Unfortunately, it is not just high-grain diets that are of concern here. Byproduct "feedstuffs" are used as cheap fillers
        in feed for cows and include poultry feather pellets, animal fat, potato waste, soy cakes, poultry carcass, and meat
        processing waste.
      </p>
      <p>
        Dairy cows have been turned into machines with the goal of pumping out large amounts of milk at the expense of their health,
        and consequently, the quality of dairy products. You can trust that Isagenix is not one to choose convenience over
        quality. Isagenix uses an undenatured whey protein blend sourced exclusively from grass-fed dairy cows raised on
        the pristine pastures of New Zealand. The "Cheerful Cow Certified" label on IsaLean, IsaLean Pro, and IsaPro shakes
        is a reminder of the unbeatable quality you receive from Isagenix.
      </p>
      <h3>Reference</h3>
      <p class="disclaimer">
        Saleem F, Ametaj BN, Bouatra S et al. A metabolomics approach to uncover the effects of grain diets on rumen health in dairy
        cows. J Dairy Sci 2012.
      </p>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
