<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>Tiff D.</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
                  assets/imgs/athletes/team-isa-background/team-isa-background-400.jpg 400w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-831.jpg 831w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1161jpg 1161w,
                  assets/imgs/athletes/team-isa-background/team-isa-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Tiff D.</h1>
      <div id="headerdiv" class="grid-container">
        <img src="assets/imgs/athletes/team-isa/tiff-d-01.jpg" alt="" />
        <section class="stats">
          <div>
            <span class="field">Age:</span>
            <span class="value">28</span>
          </div>
          <div>
            <span class="field">Location:</span>
            <span class="value">Salt Lake City, Utah</span>
          </div>
          <div>
            <span class="field">Height:</span>
            <span class="value">5'3"</span>
          </div>
          <div>
            <span class="field">Was:</span>
            <span class="value">158 lbs</span>
          </div>
          <div>
            <span class="field">Lost:</span>
            <span class="value">32 lbs*</span>
          </div>
          <div>
            <span class="field">As of:</span>
            <span class="value">September 2012</span>
          </div>
        </section>
        <img src="assets/imgs/athletes/team-isa/tiff-d-02.jpg" alt="" />
      </div>
      <section id="mainContent">
        <div>
          <h3>
            Utah Teacher Turns Lesson Plan Into Action Plan
          </h3>
          <p>
            Tiff is an avid athlete whose "controlling spirit" proved she was strong enough to play with the big kids.
          </p>
          <p>
            "My passion earned me four varsity athletic letters, an athletic scholarship to a prestigious college, a bachelor’s degree
            in mathematics and secondary education, and a scholarship to graduate school in Washington, D.C," shares Tiff,
            a middle and high school teacher for the Jean Massieu School of the Deaf in Salt Lake City, Utah.
          </p>
          <p>
            She knew she was ready to take on the world.
          </p>
          <p>
            But, days after Tiff graduated from college she would experience a traumatic event that would send her both mentally and
            physically spiraling out of control. As a result, Tiff spent several weeks confined to her home.
          </p>
          <p>
            "I had lost all control of my mind, my life, and consequently my body. The once strong and determined athlete that resided
            within the walls of my dilapidated frame was longing to be found," admits Tiff. "I just wanted to return to the
            days when I was healthy and active."
          </p>
          <p>
            As fate would have it, Tiff’s weight gain would aggravate an old injury, forcing her to contact her old trainer and Isagenix
            Associate Aaron.
          </p>
          <p>
            "What I thought would be just a few training sessions turned into much, much more," shares the Utah resident. "Somewhere
            along the way of rehabbing my injury, I was reminded of when Aaron first introduced me to Isagenix and cleansing
            years ago."
          </p>
          <p>
            Eager to get the same spiritual and mental clarity she experienced in 2006 from cleansing with Isagenix, Tiff joined a second
            time.
          </p>
          <p>
            At the same time, Aaron was rallying Associates to join the 2012 IsaBody Challenge®. Tiff, reluctant at first, decided to
            sign up for extra motivation.
          </p>
          <p>
            After 24 weeks of early morning wake-up calls and high-intensity, 1,000-calorie burning workouts, Tiff is 32 pounds lighter*
            and has just 13 percent body fat.* She was named a finalist in the Challenge and is in better shape now than
            she was as a collegiate athlete. She’s even taken her love for exercise outdoors as an extreme athlete partnering
            with her trainer on adventure races—a multidisciplinary race that can last a few hours or several days, covering
            up to 100 miles. She says joining the Challenge was the motivation she needed to make a real transformation.
          </p>
          <p>
            "I needed to reinstate my sense of control and determination," says the 2012 IsaBody Challenge finalist. "I decided to do
            the Challenge not for the money, the cruise or to get a six-pack; I did it to show I could be in control of my
            life—that I was stronger than my mind."
          </p>
        </div>
        <aside>
          <h3>Tiff's Tips for Weight Loss and Health Success</h3>
          <div id="asideImg">
            <img src="assets/imgs/athletes/team-isa/tiff-d-03.jpg" alt="" />
          </div>
          <ul>
            <li>Have a goal. Without direction you are more apt to veer off course.</li>
            <li>Have a plan. It is far easier to stay on course and hold yourself accountable when you have something in writing.</li>
            <li>Have a support system. Ask your sister, get a trainer but surround yourself with people that understand what
              you are doing and will push you when times get hard.</li>
            <li>Have faith. Everyone has bumps in the road. My trainer calls them “Everest moments??? because many climbers who
              reach the saddle of Mt. Everest and are too tired to push forward just turn back. Don’t give up; you CAN do
              this.
            </li>
          </ul>
          <h3>Tiff's Favorite Products</h3>
          <ul>
            <li>Ionix® Supreme</li>
            <li>IsaLean® Shakes</li>
            <li>Cleanse for Life®</li>
            <li>Vanilla IsaLean Pro</li>
          </ul>
        </aside>
        <div>
          <p class="disclaimer">The individuals pictured are actual Isagenix Associates and not paid models.</p>
          <p class="disclaimer">
            * Weight loss should not be considered typical. In a study performed in 2012 by University of Illinois at Chicago researchers,
            subjects lost an average of 9 pounds with an average of 2 pounds of the loss from visceral fat after 30 days
            on an Isagenix system. The subjects also had a greater level of adherence and had more consistent weight loss
            from week to week compared to subjects on a traditional diet.
          </p>
          <p class="disclaimer">
            ** Earning levels for Isagenix Independent Associates that appear in this publication are examples and should not be construed
            as typical or average. Income level achievements are dependent upon the individual Associate’s business skills,
            personal ambition, time, commitment, activity, and demographic factors. For average earnings, see the Isagenix
            Independent Associate Earnings Statement found at IsagenixEarnings.com.
          </p>
          <p class="disclaimer">
            Isagenix Millionaires are defined as Isagenix Associates who have cumulatively earned $1 million or more with Isagenix.
          </p>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
