<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-child fixed-width space-right"></i>
      <span>Staying Healthy</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/kids/kids-background/kids-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw" srcset="
              assets/imgs/kids/kids-background/kids-background-400.jpg 400w,
              assets/imgs/kids/kids-background/kids-background-847.jpg 847w,
              assets/imgs/kids/kids-background/kids-background-1166.jpg 1166w,
              assets/imgs/kids/kids-background/kids-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <section class="grid-container">
        <img id="img01" src="assets/imgs/kids/lifetime-commitment.jpg" alt="Kids" class="shadowed" (click)="pdfProvider.openPdf('Staying Healthy Lifetime Commitment', 'https://firebasestorage.googleapis.com/v0/b/getfitglobal-bbef0.appspot.com/o/pdfs%2Flifetime-commitment.pdf?alt=media&token=3af37142-9b03-466a-855d-ce688f1df1fc')"
        />
        <ul id="nav">
          <li (click)="loadPage('KidsSolutionPage')">Kid-Approved Isagenix Products</li>
          <li (click)="loadPage('Easy_1_2_3Page')">Easy 1-2-3</li>
          <li (click)="loadPage('IsagenixForKidsPage')">Isagenix for Kids</li>
          <li (click)="loadPage('FiveReasonsPage')">5 Reasons Isagenix is Good for Children</li>
          <li class="selected">Staying Healthy Lifetime Commitment</li>
        </ul>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
