<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-archive fixed-width space-right"></i>
      <span>Kosher</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-400.jpg 400w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-847.jpg 847w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1168.jpg 1168w,
            assets/imgs/athletes/green-fitness-people-background/green-fitness-people-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Kosher IsaLean Shake</h1>
      <div class="grid-container">
        <section id="firstSection">
          <img src="assets/imgs/products/kosher.jpg" alt="Kosher IsaLean Shake" />
        </section>
        <section>
          <p>
            <strong>Maximum nutrition in a delicious, low-calorie shake</strong>
          </p>
          <p>
            Our delicious and healthy shakes are designed to help you burn fat while safely reducing calorie intake and maximizing nutrient
            intake. Being nutritionally balanced is crucial because it may help reduce food cravings that lead to overeating.
          </p>
          <p>A balance of quality whey protein with active enzymes assist in absorbing nutrients, while hunger-satisfying fiber,
            nourishing vitamins and our proprietary blend of minerals ramp up the nutrient content.
          </p>
          <p>
            IsaLean® Shakes are a perfect complement to your Isagenix® Cleansing and Fat Burning System. The whey protein is hormone-
            and antibiotic-free.
          </p>
          <ul>
            <li>23 vitamins and minerals</li>
            <li>Protein, energy-fueling carbohydrates, and good fats</li>
            <li>High-fiber content and active enzymes aid digestion</li>
            <li>Active enzymes to aid digestion</li>
          </ul>
        </section>
      </div>
      <h3>Flavors</h3>
      <ul>
        <li>Natural Creamy Vanilla</li>
      </ul>
      <h3>
        Videos
      </h3>
      <p id="videoContainer">
          <span class="video-li" (click)="openVideoModal()">How to do an Isagenix Shake Day</span>
      </p>
      <h3>Ingredients</h3>
      <ul id="pdfs" class="list-unstyled">
        <li>
          <span class="pdf" (click)="pdfProvider.openPdf('Kosher IsaLean Shake - Natural Creamy Vanilla Ingredients', 'https://firebasestorage.googleapis.com/v0/b/getfitglobal-bbef0.appspot.com/o/pdfs%2Fus-en-fact-panel-isalean-shake-kosher-natural-creamy-vanilla.pdf?alt=media&token=2f68dcaf-29c1-4075-b72e-85e84f28773e')">Kosher Natural Creamy Vanilla IsaLean Shake</span>
        </li>
      </ul>
      <h3>FAQ's</h3>
      <h4>What makes IsaLean Shakes unique?</h4>
      <p>IsaLean Shakes contain superior nutrition compared to other meal replacement shakes on the market. IsaLean Shakes contain
        exclusively sourced Myo-IsaLean Complex, the highest-quality whey protein from cows that are not treated with hormones
        or routine antibiotics. IsaLean Shakes also contain Ionic Alfalfa™—our proprietary alfalfa juice concentrate enriched
        in ionic minerals to keep the body running at peak performance.</p>
      <h4>Why are IsaLean Shakes so important for the body?</h4>
      <p>IsaLean Shakes provide balanced nutrients to maximize nutrition while minimizing caloric intake for safe weight loss
        and effective weight management. Our exclusive shakes also have added enzymes to break down the carbohydrates, proteins
        and fats for maximum absorption of key nutrients.</p>
      <h4>How do IsaLean Shakes support Nutritional Cleansing?</h4>
      <p>Protein is an important nutrient needed by everyone on a daily basis. It is made up of essential and non-essential
        amino acids, which are the “building blocks??? for healthy bodies. Our high quality whey protein concentrate contains
        a superior amino acid profile for optimum health and wellness. Protein has a number of different roles in the body
        including the following:</p>
        <ul>
          <li>Repair body cells</li>
          <li>Build and repair muscles and bones</li>
          <li>Provide a source of energy</li>
          <li>Curb cravings</li>
          <li>Control many of the important processes in the body related to metabolism</li>
        </ul>
      <h4>What can I add to my IsaLean Shakes?</h4>
      <p>Our delicious shakes are perfect enjoyed just as they are. However, they are also extremely versatile and can be mixed
        with other great Isagenix products. For extra nutrition, add a scoop of IsaFruits®, Isagenix Greens!™, Want More
        Energy?®, IsaPro, Isagenix FiberPro™ or a half of an Oatmeal Berry SlimCake. You can add fresh fruit to your shake.
        See your Independent Associate for recipes. </p>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
