page-tales-of-telomeres {
  #fig1 {
    float: left;
    margin-left: 0;
  }

  ol li {
    font-size: smaller;
    margin-bottom: $small-margin;
  }

  audio {
    display: inline-block;
    margin-top: $small-margin;
  }
}
