<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-bomb fixed-width space-right"></i>
      <span>Myth Buster</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/science/blue-science-background/blue-science-background-1400.jpg" alt="" sizes="(max-width: 1400px) 100vw"
      srcset="
              assets/imgs/science/blue-science-background/blue-science-background-400.jpg 400w,
              assets/imgs/science/blue-science-background/blue-science-background-1076.jpg 1076w,
              assets/imgs/science/blue-science-background/blue-science-background-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">Myth Buster</h1>
      <div class="grid-container">
        <figure>
          <img class="video-thumb" src="assets/imgs/science/myths/myth-01.jpg" (click)="openVideoModal('bodybuilders')" />
          <figcaption>Myth: Whey Protein Is Only for Bodybuilders and Athletes</figcaption>
        </figure>
        <figure>
          <img class="video-thumb" src="assets/imgs/science/myths/myth-02.jpg" (click)="openVideoModal('supplements')" />
          <figcaption>Myth: Dietary Supplements Are Not Regulated</figcaption>
        </figure>
        <figure>
          <img class="video-thumb" src="assets/imgs/science/myths/myth-03.jpg" (click)="openVideoModal('metabolism')" />
          <figcaption>Myth: Your Metabolism Will Slow with Weight Loss</figcaption>
        </figure>
        <figure>
          <img class="video-thumb" src="assets/imgs/science/myths/myth-04.jpg" (click)="openVideoModal('skinny')" />
          <figcaption>Myth: Skinny Equals Healthy</figcaption>
        </figure>
        <figure>
          <img class="video-thumb" src="assets/imgs/science/myths/myth-05.jpg" (click)="openVideoModal('antioxidants')" />
          <figcaption>Myth: All Antioxidants Are the Same</figcaption>
        </figure>
        <figure>
          <img class="video-thumb" src="assets/imgs/science/myths/myth-06.jpg" (click)="openVideoModal('protein')" />
          <figcaption>Myth: All Protein Is the Same</figcaption>
        </figure>
        <figure>
          <img class="video-thumb" src="assets/imgs/science/myths/myth-07.jpg" (click)="openVideoModal('carbs')" />
          <figcaption>Myth: All Carbs Are Bad for You</figcaption>
        </figure>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
